@font-face {
    font-family: 'RobotoRegular';
    src: url('../Fonts/roboto/Roboto-Regular-webfont.eot');
    src: local("RobotoRegular"),
		 url('../Fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('../Fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../Fonts/roboto/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoItalic';
    src: url('../Fonts/roboto/Roboto-Italic-webfont.eot');
    src: local("RobotoItalic"),
		 url('../Fonts/roboto/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/roboto/Roboto-Italic-webfont.woff') format('woff'),
         url('../Fonts/roboto/Roboto-Italic-webfont.ttf') format('truetype'),
         url('../Fonts/roboto/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../Fonts/roboto/Roboto-Bold-webfont.eot');
    src: local("RobotoBold"),
		 url('../Fonts/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/roboto/Roboto-Bold-webfont.woff') format('woff'),
         url('../Fonts/roboto/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../Fonts/roboto/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldItalic';
    src: url('../Fonts/roboto/Roboto-BoldItalic-webfont.eot');
    src: local("RobotoBoldItalic"),
		 url('../Fonts/roboto/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/roboto/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('../Fonts/roboto/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('../Fonts/roboto/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../Fonts/roboto/Roboto-Condensed-webfont.eot');
    src: local("RobotoCondensed"),
		 url('../Fonts/roboto/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/roboto/Roboto-Condensed-webfont.woff') format('woff'),
         url('../Fonts/roboto/Roboto-Condensed-webfont.ttf') format('truetype'),
         url('../Fonts/roboto/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoCondensedItalic';
    src: url('../Fonts/roboto/Roboto-CondensedItalic-webfont.eot');
    src: local("RobotoCondensedItalic"),
		 url('../Fonts/roboto/Roboto-CondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/roboto/Roboto-CondensedItalic-webfont.woff') format('woff'),
         url('../Fonts/roboto/Roboto-CondensedItalic-webfont.ttf') format('truetype'),
         url('../Fonts/roboto/Roboto-CondensedItalic-webfont.svg#RobotoCondensedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldCondensed';
    src: url('../Fonts/roboto/Roboto-BoldCondensed-webfont.eot');
    src: local("RobotoBoldCondensed"),
		 url('../Fonts/roboto/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/roboto/Roboto-BoldCondensed-webfont.woff') format('woff'),
         url('../Fonts/roboto/Roboto-BoldCondensed-webfont.ttf') format('truetype'),
         url('../Fonts/roboto/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldCondensedItalic';
    src: url('../Fonts/roboto/Roboto-BoldCondensedItalic-webfont.eot');
    src: local("RobotoBoldCondensedItalic"),
		 url('../Fonts/roboto/Roboto-BoldCondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/roboto/Roboto-BoldCondensedItalic-webfont.woff') format('woff'),
         url('../Fonts/roboto/Roboto-BoldCondensedItalic-webfont.ttf') format('truetype'),
         url('../Fonts/roboto/Roboto-BoldCondensedItalic-webfont.svg#RobotoBoldCondensedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoThin';
    src: url('../Fonts/roboto/Roboto-Thin-webfont.eot');
    src: local("RobotoThin"),
		 url('../Fonts/roboto/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/roboto/Roboto-Thin-webfont.woff') format('woff'),
         url('../Fonts/roboto/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../Fonts/roboto/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoThinItalic';
    src: url('../Fonts/roboto/Roboto-ThinItalic-webfont.eot');
    src: local("RobotoThinItalic"),
		 url('../Fonts/roboto/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/roboto/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('../Fonts/roboto/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('../Fonts/roboto/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoLight';
    src: url('../Fonts/roboto/Roboto-Light-webfont.eot');
    src: local("RobotoLight"),
		 url('../Fonts/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/roboto/Roboto-Light-webfont.woff') format('woff'),
         url('../Fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'),
         url('../Fonts/roboto/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoLightItalic';
    src: url('../Fonts/roboto/Roboto-LightItalic-webfont.eot');
    src: local("RobotoLightItalic"), url('../Fonts/roboto/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/roboto/Roboto-LightItalic-webfont.woff') format('woff'),
         url('../Fonts/roboto/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('../Fonts/roboto/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../Fonts/roboto/Roboto-Medium-webfont.eot');
    src: local("RobotoMedium"),
		 url('../Fonts/roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/roboto/Roboto-Medium-webfont.woff') format('woff'),
         url('../Fonts/roboto/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../Fonts/roboto/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMediumItalic';
    src: url('../Fonts/roboto/Roboto-MediumItalic-webfont.eot');
    src: local("RobotoMediumItalic"),
		 url('../Fonts/roboto/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/roboto/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('../Fonts/roboto/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('../Fonts/roboto/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBlack';
    src: url('../Fonts/roboto/Roboto-Black-webfont.eot');
    src: local("RobotoBlack"), 
		 url('../Fonts/roboto/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/roboto/Roboto-Black-webfont.woff') format('woff'),
         url('../Fonts/roboto/Roboto-Black-webfont.ttf') format('truetype'),
         url('../Fonts/roboto/Roboto-Black-webfont.svg#RobotoBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBlackItalic';
    src: url('../Fonts/roboto/Roboto-BlackItalic-webfont.eot');
    src: local("RobotoBlackItalic"), 
	     url('../Fonts/roboto/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/roboto/Roboto-BlackItalic-webfont.woff') format('woff'),
         url('../Fonts/roboto/Roboto-BlackItalic-webfont.ttf') format('truetype'),
         url('../Fonts/roboto/Roboto-BlackItalic-webfont.svg#RobotoBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

