@import url('menu-icons.css');
@import url('roboto.css');
/*font-family: 'SegoeUI';*/
/*FONTS*/
body, input , select , textarea, .blogsingle-title{font-family: 'RobotoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important;}
body {line-height: 21px;color: #636e7b;min-width:580px;background:#EAEDF2;font-family: RobotoRegular;}
.sr-res {border-color: #00adc5 !important;border-width: 2px !important;font-weight: bold !important; }
.fee-amount-details input {width: 90px;}
body.notfound, body.signin {background: #e4e7ea;}
a:focus, a:active { outline: none; }
a{cursor:pointer!important}
strong {font-family: 'RobotoBold';	font-weight: normal;}
/* preloader */
#preloader {position: fixed;top: 0;	left: 0;width: 100%;height: 100%;background-color: #e4e7ea; z-index: 10000; }
/***** HEADER PANEL *****/
/************************/
.headerbar::after {	clear: both;	display: block;	content: '';}
.menutoggle, .menutoggle:hover  {	float: left;	width: 70px;	height: 29px;	cursor: pointer;-moz-transition: all 0.2s ease-out 0s;	-webkit-transition: all 0.2s ease-out 0s;	transition: all 0.2s ease-out 0s;	position: relative;	top: 0;    left:-10px; }
.menutoggle.test, .menutoggle.test:hover { width:30px;left:0;    visibility:hidden;    cursor:default;}
.menutoggle .fa, .menutoggle .glyphicon {	margin: 0px 0 0 0px;}
.searchform input {	width: 250px;	background: #fff url(../images/icon-search.png) no-repeat 95% center;	float: left;	padding: 18px 20px;	border: 0;	border-right: 1px solid #eee;	-moz-border-radius: 0;	-webkit-border-radius: 0;	border-radius: 0;	height: 58px;	font-size: 14px;}
.searchform input:focus {	-moz-box-shadow: none;	-webkit-box-shadow: none;	box-shadow: none;	border-color: #ddd;}
.searchform-left {margin-top: 10px;	margin-bottom: 20px;}
.searchform-left .form-control {border: 0;	background: #131b26;}
.header-left {float: left;}
.header-right {float: right;}
.headermenu {list-style: none;	margin: 0;	padding: 0;}
.headermenu:after {	clear: both;display: block;	content: '';}
.headermenu > li {float: left;border-left: 1px solid #ccc;	position: relative;    height: 65px;    margin-top: -2px;}
.headermenu .dropdown-toggle {	padding: 12px 10px;	border-color: #fff;	background: transparent!important;	-moz-border-radius: 0;	-webkit-border-radius: 0;	border-radius: 0;	border: 0;	height: 51px;}
.headermenu .dropdown-toggle:hover, .headermenu .dropdown-toggle:focus, .headermenu .dropdown-toggle:active, .headermenu .dropdown-toggle.active, .headermenu .open .dropdown-toggle.dropdown-toggle {background: #f9f9f9;color: #333;-moz-box-shadow: none;-webkit-box-shadow: none;	box-shadow: none;}
.headermenu .dropdown-toggle img {	vertical-align: middle;	margin-right: 5px; max-width: 100%;}
.headermenu .dropdown-toggle .user-img {  display: inline-block;  overflow: hidden;  vertical-align: middle;  max-width:60px;}
.headermenu .welcome-user:hover .dropdown-toggle .user-img {border-color: #bcbcbc;}
.headermenu .dropdown-toggle .caret {left: -7px;margin-left: 5px;position: relative;}
.headermenu .dropdown-menu {border: 0;margin-top: 0;border-radius:0!important;margin-right: 0px;-moz-border-radius: 2px 0 2px 2px;-webkit-border-radius: 2px 0 2px 2px;border-radius: 2px 0 2px 2px;-moz-box-shadow: 3px 3px 0 rgba(12,12,12,0.05);-webkit-box-shadow: 3px 3px 0 rgba(12,12,12,0.05);box-shadow: 3px 3px 0 rgba(12,12,12,0.05);padding: 0px;}
.headermenu .dropdown-menu:after {border-bottom: 6px solid #242424;border-left: 6px solid transparent;border-right: 6px solid transparent;content: "";display: inline-block;right: 17px;position: absolute;top: -6px;}
.headermenu .dropdown-grid .grid-list {padding: 20px;}
.headermenu .dropdown-menu li {display: block;margin: 0;float: none;background: none;padding: 15px 5px;}
.headermenu .dropdown-menu-usermenu li {padding: 0;border-bottom:1px solid #121212;}
.headermenu .dropdown-menu-usermenu:after {right: 28px;display:none!important;}
.headermenu .dropdown-menu li a {color: #fff;font-size: 13px;padding: 7px 10px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-transition: all 0.2s ease-out 0s;-webkit-transition: all 0.2s ease-out 0s;transition: all 0.2s ease-out 0s;}
.headermenu .dropdown-menu li a:hover, .headermenu .dropdown-menu li a:focus {background: #276ab0;color: #fff;}
.headermenu .dropdown-menu li i {font-size: 11px;margin-right: 5px;}
.headermenu .dropdown-menu-head {padding: 0;min-width: 300px;}
.headermenu .tp-icon {padding: 18px 15px 15px;height: 51px;font-size: 16px;background: #fff;color: #333;border-color: #fff;-moz-transition: all 0.2s ease-out 0s;-webkit-transition: all 0.2s ease-out 0s;transition: all 0.2s ease-out 0s;}
.headermenu .tp-icon .glyphicon {top: 4px;}.headermenu .tp-icon + .dropdown-menu:after {right: 17px;}
.headermenu .chat-icon {border-right: 0;}
.headermenu .dropdown-menu-usermenu {background: #242424;min-width: 170px;margin-top:-1px;}
.headermenu .dropdown-menu-head ul {border: 1px solid #ddd;border-top: 0;padding: 0 10px;}
.headermenu .dropdown-menu-head li a {color: #333;padding: 0;opacity: 1;}
.headermenu .dropdown-menu-head li a:hover {background: none;color: #428BCA;text-decoration: none;}
.headermenu .btn-group {margin-bottom: 0;}
.dropdown-list li {padding: 15px;overflow: hidden;border-bottom: 1px solid #eee;}
.dropdown-list li:last-child {border-bottom: 0;}
.dropdown-list .thumb {width: 36px;float: left;}
.dropdown-list .thumb img {width: 100%;display: block;vertical-align: middle;}
.dropdown-list .desc {margin-left: 45px;display: block;}
.dropdown-list .desc h5 {font-size: 13px;margin-top: 7px;}
.dropdown-list li:last-child {padding: 7px 5px;}
.dropdown-list li .badge {float: right;}
.user-list {width: 300px;}
.gen-list li a {display: block;}
.gen-list li a:hover {color: #333 !important;text-decoration: none;}
.gen-list li .name {font-size: 13px;line-height: 21px;display: block;}
.gen-list li .msg {font-size: 11px;line-height: normal;color: #999;display: block;}
/***** LEFT PANEL *****/
.leftpanel {width: 200px;position: fixed;left: 0;z-index: 1003;}
.sticky-leftpanel {position: fixed;height: 100%;overflow-y: auto;}
.logopanel {background: transparent;min-height: 58px;}
.logopanel img{max-width: 100%;height: 65px;margin-top: 5px;}
.logopanel h1 {font-size: 30px;letter-spacing: -1.5px;color: #1d2939;line-height: 30px;margin: 0;}
.logopanel h1 span {color: #1caf9a;}
.leftpanelinner {padding: 1px 0px;}
.leftpanel .searchform {display: none;}
.leftpanel .searchform::after {content: '';display: block;clear: both;}
.leftpanel .searchform input {padding: 10px;height: auto;width: 100%;margin: 5px 0 20px 0;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.leftpanel .userlogged {margin: 0;padding: 0;padding-bottom: 15px;margin-bottom: 15px;border-bottom: 1px solid rgba(255,255,255,0.1);display: none;}
.leftpanel .userlogged .media-object {width: 40px;-moz-border-radius: 100px;-webkit-border-radius: 100px;border-radius: 100px;float: left;border: 2px solid #9d9d9d;padding: 2px;margin-left: 2px;}
.leftpanel .userlogged .media-body {margin-left: 50px;color: #ccc;}
.leftpanel .userlogged .media-body h4 {font-size: 15px;margin: 0;}
.leftpanel .userlogged .media-body span {font-style: italic;font-size: 11px;opacity: 0.5;}
.sidebartitle {font-size: 11px;text-transform: uppercase;color: #999;padding:10px;}
.nav-bracket {margin-bottom: 30px;}
.nav-bracket > li > a {padding: 7px 10px;border-radius: 0px;border-bottom: 1px solid #B8B8B8;color: #fff;text-transform: uppercase;}
.nav-bracket > li {margin-top: 0px !important;}
.nav-bracket > li > a:hover, .nav-bracket > li > a:active, .nav-bracket > li > a:focus {-moz-box-shadow: 0 3px 0 rgba(0,0,0,0.2);-webkit-box-shadow: 0 3px 0 rgba(0,0,0,0.2);box-shadow: 0 3px 0 rgba(0,0,0,0.2);color: #fff;background-color: #276ab0;}
.nav-bracket > li.nav-parent > a {background-image: url(../images/plus-grey.png); background-repeat: no-repeat;background-position:right bottom; }
.nav-bracket > li.nav-parent > a:focus {color: #e7e7e7;background-color: transparent;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}
.nav-bracket > li.nav-parent > a:hover, .nav-bracket > li.nav-parent > a:active {background-image: url(../images/plus-grey.png);}
.nav-bracket > li.nav-parent.nav-active > a , .nav-bracket > li.nav-parent.nav-active > a:focus {background-color: #276ab0;background-image: url(../images/plus-grey.png);background-repeat: no-repeat;color: #fff;}
.nav-bracket > li.active > a, .nav-bracket > li.active > a:focus {background-color: #276ab0;color: #fff;}
.nav-bracket > li.nav-active .fa, .nav-bracket > li.nav-active .glyphicon {color: #fff;}
.nav-bracket > li.nav-parent.nav-active > a:hover {background-image: url(../images/plus-grey.png);background-repeat: no-repeat;}
.nav-bracket > li.nav-active > a:focus {color: #fff;background-image:none;}
.nav-bracket > li.active > a {color: #fff; }
.nav-bracket > li.active > a .fa, .nav-bracket li.active .glyphicon, .nav-bracket > li:hover > a .fa, .nav-bracket li:hover .glyphicon {color: #fff;}
.nav-bracket > li.nav-parent.active > a, .nav-bracket > li.nav-parent.nav-active > a {background-image: url('../images/plus-grey.png'); }
.nav-bracket > li.nav-parent.active > a, .nav-bracket > li.nav-parent.nav-active > a {background-image: url('../images/plus-grey.png'); }
.nav-bracket > li.nav-parent.nav-active.active > a:hover {background-image: url('../images/plus-grey.png'); }
.nav-bracket li .fa, .nav-bracket li .glyphicon {font-size: 16px;vertical-align: middle;margin-right: 10px;width: 16px;text-align: center;color: #cccccc;}
.nav-bracket > li > a > .badge {margin-top: 2px;}
.nav-bracket .children {list-style: none;display: none;padding: 0;background: #d1d1d1;}
.nav-bracket .children > li > a {color: #565656;font-size: 13px;display: block;padding: 5px 0 5px 27px;-moz-transition: all 0.2s ease-out 0s;-webkit-transition: all 0.2s ease-out 0s;transition: all 0.2s ease-out 0s;}
.nav-bracket .children > li > a > span {margin-top: 3px;}
.leftpanel-collapsed ul.children li:hover {background:#ccc;}
.nav-bracket .children > li.active, .nav-bracket .children > li > a:hover, .nav-bracket .children > li > a:active, .nav-bracket .children > li > a:focus {text-decoration: none;background-color: #E4E7EA;}
.nav-bracket .children > li .fa {font-size: 12px;opacity: 0.5;margin-right: 5px;text-align: left;width: auto;vertical-align: baseline;color: #666565;}
.nav-bracket .children > li.active > a {color: #1caf9a;}
.nav-bracket .children ul {margin-left: 12px;border: 0;}
.nav-active .children {margin-top:0!important;}
body.leftpanel-collapsed .nav-active .children {margin-top:0!important;}
.infosummary {margin: 30px 0;}
.infosummary ul {padding: 0;margin: 20px 0 0;list-style: none;border-top: 1px solid rgba(255,255,255,0.05);}
.infosummary li {padding: 10px 0;border-bottom: 1px solid rgba(255,255,255,0.05);}
.infosummary li:after {clear: both;display: block;content: '';}
.infosummary .datainfo {float: left;line-height: normal;}
.infosummary .datainfo h4 {margin: 0;font-size: 16px;color: #fff;opacity: 0.7;}
.infosummary span {font-size: 11px;line-height: normal;text-transform: uppercase;font-size: 10px;opacity: 0.4;}
.infosummary .chart {float: right;margin-top: 5px;opacity: 0.6;}
/***** MAIN PANEL *****/
.pageheader {position:absolute;right:0;bottom:1px;background:#000;height:28px;}
.pageheader::before {background: #495b79 none repeat scroll 0 0;content: "";height: 43px;left: -100%;position: absolute;top: 0;width: 100%;z-index: 999;}
.pageheader h2 {font-size: 28px;color: #1D2939;letter-spacing: -0.5px;margin: 0;display: inline-block;}
.pageheader .glyphicon, .pageheader .fa {font-size: 21px;margin-right: 5px;padding: 6px 7px;border: 2px solid #1D2939;-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;}
.pageheader .fa.fa-pencil {padding: 6px 9px;}
.pageheader .fa.fa-hand-o-up {padding: 6px 9px 6px 7px;}
.pageheader .fa-file-o {padding: 6px 10px;}
.pageheader .fa-user {padding: 6px 10px;}
.pageheader .fa-file-text {padding: 6px 10px;}
.pageheader .fa-map-marker {padding: 6px 12px;}
.pageheader .fa-dollar {padding: 6px 12px;}
.pageheader .fa-clock-o {padding: 6px 8px;}
.pageheader h2 span {font-size: 13px;text-transform: none;color: #999;font-style: italic;vertical-align: middle;letter-spacing: 0;}
.pageheader h2 span::before {content: '/';margin: 0 10px 0 5px;color: #ccc;}
.pageheader .breadcrumb-wrapper {position: relative;display: inline-block;}
.pageheader .breadcrumb-wrapper .label {color: #999;text-transform: uppercase;font-size: 11px;font-weight: normal;display: inline-block;}
.pageheader .breadcrumb {background: none;display: inline-block;padding: 3px 0 2px;margin: 0px;}
.pageheader .breadcrumb li {font-size: 12px;   }
.pageheader .breadcrumb li a{color: #bbb;}
.pageheader .breadcrumb li.active  {color: #fff;}
.contentpanel {padding: 20px;position: relative;}
.contentpanel::after {clear: both;display: block;content: '';}
form .form-group:last-child {margin-bottom: 0;}
.row-pad-5 {margin-left: -5px;margin-right: -5px;}
.row-pad-5 [class*="col-lg"], .row-pad-5 [class*="col-md"], .row-pad-5 [class*="col-sm"] {padding-left: 5px;padding-right: 5px;margin-bottom: 10px;}
p {margin-bottom: 10px;font-size:12px;}
/***** LEFT PANEL COLLAPSE *****/
.leftpanel-collapsed .headerbar {margin-left: 0px;}
.leftpanel-collapsed .leftpanel {width: 50px;top: 82px;}
.leftpanel-collapsed .leftpanelinner {padding: 0;}
.leftpanel-collapsed .leftpanelinner .sidebartitle {display: none;}
.leftpanel-collapsed .nav-bracket li a {text-align: center;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;padding: 10px;position: relative;}
.leftpanel-collapsed .nav-bracket > li > a:hover {border-radius: 2px 0 0 2px;}
.leftpanel-collapsed .nav-bracket > li.nav-parent > a {background-image: none;}
.leftpanel-collapsed .nav-bracket > li > a {position:relative; z-index:auto}
.leftpanel-collapsed .nav-bracket > li > a > span:last-child {position: absolute;color: #fff;background: #105196;padding:8px 10px 8px 5px;left: 48px;width:209px!important;text-align: left;z-index: 999;display: none;-moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);-webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);box-shadow: 0 3px 0 rgba(12,12,12,0.03);-moz-border-radius: 0 2px 2px 0;-webkit-border-radius: 0 2px 2px 0;border-radius: 0 2px 2px 0;border-bottom:1px solid #3a3a3a;}
.leftpanel-collapsed .nav-bracket > li > a .badge {display: none;}
.leftpanel-collapsed .nav-bracket > li.active > a > span:last-child {-moz-border-radius: 0 2px 0 0;-webkit-border-radius: 0 2px 0 0;border-radius: 0 2px 0 0;}
.leftpanel-collapsed .nav-bracket ul {display: none;}
.leftpanel-collapsed .nav-bracket > li.nav-hover > a {background: #3F3F3F;color: #1d2939;}
.leftpanel-collapsed .nav-bracket > li.nav-hover.active > a {background: #105196;/*105196*/color: #fff;}
.leftpanel-collapsed .nav-bracket > li.nav-hover > a > span:last-child {display: block;margin-top: -8px;position: fixed;z-index: 9999;border-top: 1px solid #333333;border-bottom: 1px solid #676767;padding: 7px 0 6px 10px;background:#3E506C;}
.leftpanel-collapsed .nav-bracket > li.nav-hover.active > a > span:last-child {background: #105196;color: #fff;}
.leftpanel-collapsed .nav-bracket li.nav-hover ul {display: block;position: fixed;top: 40px;left: 48px;margin: -41px 0 0;width:208px;background: #d1d1d1;padding-left:0;z-index: 100;-moz-border-radius: 0 0 2px 0;-webkit-border-radius: 0 0 2px 0;border-radius: 0 0 2px 0;box-shadow: 2px 2px 8px rgba(163, 161, 161, 0.5);}
.leftpanel-collapsed .nav-bracket li.nav-hover ul.children li{padding-left:17px;}
.leftpanel-collapsed .nav-bracket li.nav-hover ul.children li:hover {padding-left:17px;background:#e4e7ea;}
.leftpanel-collapsed .nav-bracket ul a {text-align: left;padding: 6px 10px;padding-left: 0;}
.leftpanel-collapsed .nav-bracket ul a:hover {background: none;}
.leftpanel-collapsed .nav-bracket li a i {margin-right: 0;}
.leftpanel-collapsed .nav-bracket > li:hover > a > i{color: #fff;}
.leftpanel-collapsed .infosummary {display: none;}
.leftpanel-collapsed .sticky-leftpanel {overflow-y: visible;}
.leftpanel-collapsed .nav-bracket .children {display: none;width:200px;padding-left:0!important;}
.leftpanel-collapsed .nav-bracket .children li a {text-align:left;}
/***** RIGHT PANEL STYLES *****/
.chat-view {margin-right: 240px;}
.rightpanel {width: 240px;height: 100%;position: fixed;overflow-y: auto;overflow-x: hidden;top: 0;right: -240px;display: none;}
.chat-view .rightpanel {display: block;right: 0;}
.chat-relative-view {right: 240px;}
.chat-relative-view .rightpanel {display: block;right: 0;}
.rightpanel, .rightpanel label {color: #999;}
.rightpanel .nav-tabs {-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;background: #131d29;position: fixed;width: 240px;}
.rightpanel .nav-tabs > li {display: table-cell;width: 1%;}
.rightpanel .nav-tabs > li > a {padding: 15px 20px 16px 20px;-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;color: rgba(255,255,255,0.5);}
.rightpanel .nav-tabs > .active > a, .rightpanel .nav-tabs > .active > a:hover, .rightpanel .nav-tabs > .active > a:focus {background: #1D2939;color: #fff;}
.rightpanel .tab-content {background: none;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;margin-top: 45px;}
.chatuserlist {list-style: none;padding: 0;border-bottom: 1px dotted rgba(255,255,255,0.05);}
.chatuserlist li {border-top: 1px dotted rgba(255,255,255,0.05);}
.chatuserlist .media-thumb {-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;border: 2px solid #999;padding: 3px;display: block;}
.chatuserlist .media {margin: 10px 0;padding: 0;}
.chatuserlist .online .media-thumb {border-color: #1CAF9A;}
.chatuserlist .media-object {width: 30px;-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;}
.chatuserlist .media-body {line-height: normal;padding-top: 7px;}
.chatuserlist .media-body small {color: #666;display: block;}
.chatuserlist .media-body strong {color: #bbb;font-size: 13px;margin-bottom: 4px;display: block;}
.chatuserlist .badge {margin-top: 5px;}
.rightpanel .pane-settings {font-size: 13px;}
/***** HORIZONTAL MENU *****/
.horizontal-menu {margin: 0;   }
.horizontal-menu .menutoggle {display: none;}
.horizontal-menu .leftpanel {display: none;}
.horizontal-menu .mainpanel {margin: 0;width: 100%;overflow: hidden;}
.horizontal-menu.chat-view .mainpanel {margin-left: -240px}
.headerbar .logopanel {float: left;width: 200px;padding-right:0!important}.headerbar .logopanel a{display:block;}
.horizontal-menu.chat-view .navhor-bracket {padding: 0;}
.headerbar .topnav {float: left;margin: 0;}
.headerbar .topnav > ul {padding: 0;margin: 0;float: left;}
.headerbar .topnav > ul > li {margin: 0;float: left;}
.headerbar .topnav > ul > li > a {padding: 15px 15px 12px 15px;-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;text-transform: uppercase;font-size: 12px;color: #666;font-family: 'LatoBold', sans-serif;}
.headerbar .topnav > ul > li > a:hover, .headerbar .topnav > ul > li > a:focus, .headerbar .topnav > ul > li.open > a, .headerbar .topnav > ul > li.active > a {box-shadow: 0 3px 0 #1CAF9A;color: #1CAF9A;background: none;}
.headerbar .topnav > ul > li > a i {margin-right: 5px;}
.headerbar .topnav > ul > li > a .badge {margin-left: 10px;}
.headerbar .topnav > ul > li .dropdown-menu {margin-top: 2px;-moz-border-radius: 0 0 3px 3px;-webkit-border-radius: 0 0 3px 3px;border-radius: 0 0 3px 3px;}
.headerbar .topnav > ul > li .dropdown-menu > li > a {padding: 6px 10px;font-size: 13px;}
.headerbar .topnav > ul > li .dropdown-menu > li > a:hover {background: #1CAF9A;color: #fff;}
.headerbar .topnav > ul > li .dropdown-menu i {display: none;}
/***** FIXED WIDTH *****/
.fixed {background: #c9cccf;}
.fixed section {margin: auto;max-width: 1050px;position: relative;background: #1D2939;}
.fixed .rightpanel {background: #1D2939;}
.fixed-noleft .leftpanel {display: none;}
.fixed-noleft .mainpanel {margin-left: 0;}
.fixed-noleft.chat-view .headerbar {margin-left: 0;}
.fixed-noleft.chat-view .logopanel {display: block;}
.fixed-noleft .menutoggle {display: none;}
/***** MODALS *****/
.bs-example-modal-panel .modal-content {background: none;}
.modal-photo-viewer {margin-top: 0;margin-bottom: 0;top: 50%;left: 50%;width: auto;position: absolute;}
.modal-photo-viewer .modal-content {position: relative;width: 900px;height: 600px;margin-left: -50%;margin-top: -300px;}
.modal-photo-viewer .modal-photo-left, .modal-photo-viewer .modal-photo-right {padding: 0;}
.modal-photo-viewer .modal-photo-left {background: #000;}
.modal-photo-viewer .modal-photo {top: 50%;position: relative;}
.modal-photo-viewer .row {margin-left: 0;margin-right: 0;}
.modal-photo-viewer .img-responsive {max-height: 600px;margin: auto;}
.media-details {padding: 20px;}
.media-details .categ {font-size: 11px;}
.media-details .media-title {margin: 0;margin-bottom: 10px;color: #333;font-size: 20px;}
.media-details p {font-size: 13px;}
.media-details .details {margin-top: 20px;}
.media-details .details h4 {font-size: 12px;color: #333;text-transform: uppercase;font-family: 'LatoBold';}
.media-details .table {-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}
.media-details .table tr td {padding: 3px 0;font-size: 13px;background: none;}
/***** TABLE STYLES ******/
.table-primary thead tr th {background: #428BCA;}.table-success thead tr th {background: #1CAF9A;}.table-warning thead tr th {background: #F0AD4E;}
.table-danger thead tr th {background: #D9534F;}.table-info thead tr th {background: #5BC0DE;}.table-dark thead tr th {background: #1D2939;}
.table.table-primary thead tr th, .table.table-success thead tr th, .table.table-danger thead tr th, .table.table-warning thead tr th, .table.table-info thead tr th, .table.table-dark thead tr th {color: #fff;border-bottom: 0;}
.table-bordered.table-primary thead tr th, .table-bordered.table-success thead tr th, .table-bordered.table-warning thead tr th, .table-bordered.table-danger thead tr th, .table-bordered.table-info thead tr th, .table-bordered.table-dark thead tr th { border-color: rgba(255,255,255,0.2);}
/***** BUG TRACKER *****/
.panel .panel-table {padding: 0;}
.panel-table .table {-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;margin: 0;}
.table-buglist thead tr th:first-child, .table-buglist tbody tr td:first-child {text-align: center;width: 30px;}
.table-buglist .fa {cursor: pointer;    }
.table-buglist .fa-bug {color: #D9534F;}.table-buglist .fa-magic {color: #1CAF9A;}.table-buglist .btn-group {margin: 0;}.table-buglist .btn-group .dropdown-toggle {color: #999;cursor: pointer;}
.table-buglist .btn-group .dropdown-toggle:hover {color: #666;}
.bug-key-title {margin: 0;margin-bottom: 5px;}
/***** ADDITIONAL STYLES *****/
.dropdown-menu-head {background: #fff}
.dropdown-menu-head .title {background: #8e8e90;color: #fff;padding: 15px;text-transform: uppercase;font-size: 11px;margin: 0;}
/* ICON */
.tp-icon {padding: 10px 20px;line-height: 20px;border-color: #ddd;position: relative;}
.tp-icon .badge {position: absolute;font-size: 10px;font-weight: normal;right: 3px;top: 7px;line-height: 10px;background-color: #D9534F;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;padding: 3px 3px 2px 3px;}
/* CHOSEN OVERRIDE */
.chosen-container-single .chosen-single div {width: 30px;border-left: 1px solid #ccc;background: #e4e7ea;}
.chosen-container-single .chosen-single div b {background: url(../images/dropdown-arrow.png) no-repeat 8px 15px;}
.chosen-container-active.chosen-with-drop .chosen-single div {width: 30px;border-left: 0;background: #fff;}
.chosen-container-active.chosen-with-drop .chosen-single div b {background-position: 8px -33px;}
/* TIME PICKER */
.bootstrap-timepicker-widget.dropdown-menu {width: 160px;/*230px*/}
.bootstrap-timepicker-widget table td {width: 42px;}
.bootstrap-timepicker-widget table td.separator {width: 20px;}
.bootstrap-timepicker-widget table td a {padding: 0 !important;}
.bootstrap-timepicker-widget .bootstrap-timepicker-hour[type="text"] {padding: 0 2px;}
.modal-content .panel-body {background: #fff none repeat scroll 0 0;}
/* COLOR PICKER */
.colorpicker-input {width: 200px;float: left;}
.colorselector {margin-top: 4px;}
/* STICKY HEADER */.stickyheader .logopanel {position: fixed;top: 0;left: 0;width: 240px;z-index: 100;}
.stickyheader .leftpanel {top: 50px;}.stickyheader .sticky-leftpanel {top: 0;}.stickyheader .sticky-leftpanel .leftpanelinner {margin-top: 55px;}
.stickyheader .headerbar {position: fixed;top: 0;left: 240px;width: 100%;z-index: 100;box-shadow: 0 1px rgba(0,0,0,0.05);}
.stickyheader .mainpanel {padding-top: 50px;}
.stickyheader .header-right {margin-right: 240px;}
.stickyheader.leftpanel-collapsed .headerbar {left: 50px;   }
.stickyheader.leftpanel-collapsed .header-right {margin-right: 0;}
.stickyheader.chat-view .headerbar {right: 240px;width: auto;}
/* CUSTOM STYLES */
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mb30 {margin-bottom: 30px;}
.mb40 {margin-bottom: 40px;}
.mb50 {margin-bottom: 50px;}
.mb0 {margin-bottom: 0 !important;}
.ml5 {margin-left: 5px !important;}
.ml10 {margin-left: 10px !important;}
.ml20 {margin-left: 20px !important;}
.ml30 {margin-left: 30px !important;}
.mr5 {margin-right: 5px !important;}
.mr10 {margin-right: 10px !important;}
.mr15 {margin-right: 15px !important;}
.mr20 {margin-right: 20px !important;}
.mr30 {margin-right: 30px !important;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px !important;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt0 {margin-top: 0 !important;}
.noshadow {-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}
.border-right-0 {border-right: 0!important;}
.border-left-0 {border-left: 0!important;}
.nopadding {padding: 0 !important;}
.padding-top-0 {padding-top: 0;}
.padding5 {padding: 5px!important;}
.padding10 {padding: 10px!important;}
.serif {font-family: 'Georgia, serif';}
.italic {font-style: italic;}
.dark {color: #333;}
.width100p {width: 100%;}
.width20 {width: 20px;}
.width30 {width: 30px;}
.inblock {display: inline-block;}
#footer{width: 86%;margin-top: -20px;margin-right: 20px;}
.remove-actions .bootstrap-tagsinput .tag > span, .remove-actions .bootstrap-tagsinput input[type="text"]{display: none;}
.disp-overflow {display: table;width: 100%;clear: both;}
.table-modes {border: 1px solid #dddddd;border-collapse: collapse;font-size: 12px;overflow: auto;width: 100%;}
.table-modes tr th, .table-modes tr td {border: 1px solid #ddd;padding: 10px 15px;}.table-modes tr th {background: none repeat scroll 0 0 #eee;color: #555;font-size: 12px;padding: 10px;}
/*==============Tabs Ends===================*/
/***** MEDIA QUERIES *****/
@media screen and (max-width: 1024px) {
    body {position: relative;	}
    .leftpanel {	display: none;	}
    .leftpanel-collapsed .leftpanel {display: block;}
    .pageheader {margin-left: 0;padding-left:0;width: 100%!important;	}
    .mainpanel {margin-left: 0;padding-left:15px!important;width: 100%!important;	}
    .leftpanel-collapsed .mainpanel {padding-left: 63px!important;}
    .leftpanel-collapsed .pageheader {padding-left: 15px!important;padding-left:43px!important}
    .leftpanel-collapsed .headerbar {margin-left: 0;	}

    .stickyheader .headerbar {
        left: 0;
    }

    .stickyheader.leftpanel-show .headerbar {
        left: 240px;
    }

    .stickyheader.chat-relative-view .headerbar {
        right: 240px;
        left: auto;
    }

    .stickyheader .header-right {
        margin-right: 0;
    }

    .btn-demo {
        margin-bottom: 20px;
    }

    .leftpanelinner {
        /*padding: 5px 10px;*/
    }

    .leftpanelinner .searchform input {
        background: #131b26;
        border: 0;
    }

    /* horizontal menu related */
    .nav-horizontal {
        position: relative;
    }

    .horizontal-menu .menutoggle {
        display: block;
    }

    .horizontal-menu .headerbar .logopanel {
        display: none;
    }

    .nav-horizontal .caret {
        display: none;
    }

    .horizontal-menu .header-left,
    .horizontal-menu .topnav {
        float: none;
    }

    .horizontal-menu-sidebar .header-left,
    .horizontal-menu-sidebar .topnav {
        float: none;
    }

    .fixed-noleft .menutoggle {
        display: block;
    }

    .fixed-noleft .headerbar .logopanel {
        display: none;
    }

    .fixed-noleft .header-left,
    .fixed-noleft .topnav {
        float: none;
    }

}

@media screen and (max-width: 767px) {

    .searchform {
        position: relative;
    }

    .headermenu li:nth-child(4) {
        /*display: none;*/
    }

    .leftpanel .searchform,
    .leftpanel .userlogged {
        display: block;
    }

    .breadcrumb-wrapper {
        display: none;
    }

    .headermenu .dropdown-menu:after {
        display: none;
    }

    .rightpanel .nav-tabs.nav-justified > li > a,
    .rightpanel .nav-justified > li > a {
        margin-bottom: 0;
    }

    .panel-email .col-sm-3 {
        display: none;
    }
}

.showcase .ui-corner-all {
    border-radius: 0;
}
.fa.fa-caret-down.campus-down {
    display:none;
}
#campusList_chosen .fa.fa-caret-down.campus-down {
    font-size: 21px;
    position: absolute;
    right: 7px;
    top: 17px;
    display:block;
}
/* Styles by Pramod */
.fee-amount-details.custmFad > div {
    line-height: 15px;
}
.fee-amount-details.custmFad > div > span {
    line-height: normal;
}
/* slider*/
.ui-slider, .ui-slider .pipe {
    cursor:pointer;
}
.ui-slider .pipe {
    position: absolute;
    z-index: 0;
    top: 1px;
    margin-left: -1px;
    font-size: 7px;
}
.ui-slider .pipe b {
    position: absolute;
    top: 12px;
    left: -20px;
    font-size: 10px!important;
}
.slideGreen > div {
    display: inline-block;
    vertical-align: top;
}
.slideGreen > div:first-child {
    font-size: 12px;
    line-height: 12px;
}
.fee-amount-details.custmFad > div > img {
    margin-right: 12px;
}
.fee-amount-details.custmFad > div:last-child {
    margin-top: 12px;
    vertical-align: top;
}
.slideGreen .showcase {
    margin-left: 10px;
    width: 500px;
    margin-bottom: 50px;
}
.slideGreen .ui-slider-horizontal {
    background: none repeat scroll 0 0 #ccc;
    border: medium none;
    height: 0.3em;
}
.slideGreen .ui-slider-horizontal::after, .slideGreen .ui-slider-horizontal::before {
    color: #ccc;
    content: "|";
    font-size: 9px;
    font-weight: bold;
    height: 5px;
    position: absolute;
    right: 0;
    top: -8px;
}
.slideGreen .ui-slider-horizontal::before {
    left: -2px;
    right: inherit;
}
.ui-slider .ui-slider-range {
    background-color: #28af63;
    border: 0 none;
}
.slideGreen .ui-slider-horizontal .ui-slider-handle {
    background-color: #28af63;
    background-image: url("../images/bar.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: medium none;
    height: 1.4em;
    margin-left: -0.4em;
    top: -0.6em;
    width: 0.8em;
}
.slideGreen .ui-slider .pipe {
    color: #cccccc;
    font-size: 9px;
    margin-left: -2px;
    top: -1px;
}
.slideGreen .ui-slider .pipe b {
    color: #737373;
    font-size: 10px !important;
    left: -20px;
    padding: 0;
    top: 12px;
    width: 45px;
}
.slideGreen .ui-widget-header {
    background: none repeat scroll 0 0 #28af63 !important;
}
.table-slide-wrap .custn-table-hdr tr th {
    border-bottom: 2px solid #dedede;
    color: #636e7b;
    font-size: 12px !important;
    line-height: normal;
    padding-bottom: 6px;
    padding-top: 6px;
    text-transform: capitalize;
}
.table-slide-wrap .custn-table-hdr tr td {
    border-bottom: 1px solid #dedede;
    padding: 6px 15px;
}
.ellipsis-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.custn-table-hdr .ellipsis-text {
    width: 85px;
}
.slide-handle .custn-table-hdr tr th {
    padding-top: 5px;
}
.table-slider .tslide table {
    border: 1px solid #dedede;
}
.table-slide-wrap .custn-table-hdr tr th span {
    display: block;
    font-weight: normal;
}
.table-slider {
    display: table;
    width: 100%;
}
.table-slider .tslide {
    float: left;
    margin: 0 5px;
    width: 170px;
}
.table-slide-wrap .custn-table-hdr tr td input[type="text"] {
    padding: 2px 5px;
    width: 100%;
}
.table-slide-wrap {
    display: table;
    width: 100%;
}
.newFeeds-search {
    display: none;
    background: none repeat scroll 0 0 #eaedf2;
    border: 1px solid #8898b2;
    padding: 8px;
    position: relative;
    z-index: 10;
    margin: 16px 0 0;
}
.newFeeds-search-no-arrow::before {
    background:none !important;
}
.term-data-bottom-align>div {
    display:inline-block;
    vertical-align:middle;
}
.newFeeds-search-no-arrow{
    margin:0 !important;
}
.newFeeds-search::before {
    background: url("../images/blue-tip.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    content: "";
    height: 16px;
    position: absolute;
    left: 36px;
    top: -16px;
    width: 20px;
}
.fsm-tabHdr {
    padding-left: 40px !important;
    padding-top: 0 !important;
}
.newFeeds-wrap {
    padding: 13px;
}
.newFeeds-wrap > a {
    color: #485b7b;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}
.newFeeds-wrap > a > i {
    color: #ff9533;
    margin-right: 2px;
}
.newFeeds-search .search-filter {
    width: 325px;
}
.newFeeds-search .search-filter > .clsBox {
    font-size: 21px;
    margin: 8px 0 0;
    text-transform: lowercase;
}
.newFeeds-search > .clsBox {
    font-size: 21px;
    font-weight: normal;
    position: absolute;
    right: 5px;
    text-transform: lowercase;
    top: 15px;
}
.newFeeds-wrap .posRb {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    border-radius: 0 !important;
    border: none !important;
}
.result-tags {
    background: none repeat scroll 0 0 #e8e8e8;
    border: 1px solid #838383;
    border-radius: 5px;
    color: #333;
    display: inline-block;
    font-size: 11px;
    line-height: normal;
    margin: 0 0 5px;
    padding: 2px 8px 2px 8px;
    vertical-align: top;
    cursor: pointer;
}
.result-tags.active {
    background: none repeat scroll 0 0 #18bc9a;
    border-color: #18bc9a;
    color: #fff;
}
.result-tags.tag-s,
.result-tags.tag-a,
.result-tags.tag-l,
.result-tags.cl-1,
.result-tags.cl-2,
.result-tags.cl-3,
.result-tags.cl-4,
.result-tags.cl-5,
.result-tags.cl-6,
.result-tags.cl-7,
.result-tags.cl-8,
.result-tags.cl-9,
.result-tags.cl-10 {
    border-color: #afafaf;
    color: #909090;
    padding: 2px 5px 2px 5px;
    pointer-events: none;
    position: relative;
}
.result-tags > i {
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    font-style: normal;
    height: 14px;
    margin-left: 2px;
    min-width: 14px;
    padding: 0 4px;
    text-align: center;
    text-transform: uppercase;
    display: none;
}
.result-tags.tag-s > i { background: #ff3253; display: inline-block; }
.result-tags.tag-a > i { background: #fe9633; display: inline-block; }
.result-tags.tag-l > i { background: #0055a8; display: inline-block; }
.result-tags.cl-1 > i { background: #46285A; display: inline-block; }
.result-tags.cl-2 > i { background: #7A0000; display: inline-block; }
.result-tags.cl-3 > i { background: #D73D00; display: inline-block; }
.result-tags.cl-4 > i { background: #674F40; display: inline-block; }
.result-tags.cl-5 > i { background: #298964; display: inline-block; }
.result-tags.cl-6 > i { background: #59A1F2; display: inline-block; }
.result-tags.cl-7 > i { background: #6E47AE; display: inline-block; }
.result-tags.cl-8 > i { background: #9C9723; display: inline-block; }
.result-tags.cl-9 > i { background: #D0B339; display: inline-block; }
.result-tags.cl-10 > i { background: #464646; display: inline-block; }
.form-elements {border: 1px solid #ccc;  padding: 10px;}
.form-elements:hover { background: #f8f8f8; border-color: #9c9c9c;box-shadow: 2px 2px 3px 0px #dcdcdc;-moz-box-shadow: 2px 2px 3px 0px #dcdcdc;-webkit-box-shadow: 2px 2px 3px 0px #dcdcdc;-ms-box-shadow: 2px 2px 3px 0px #dcdcdc;}
.form-elements, .form-elements:hover {transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s;}
/* Styles by Pramod ends */
.swapDivs div.swapContent:first-child a.swapUp, .swapDivs div.swapContent:last-child a.swapDown, #fbOptionTbl tbody tr:first-child .sort-buttons-wrap > a:first-child, #fbOptionTbl tbody tr:last-child .sort-buttons-wrap > a:last-child, tr.jqgrow [role="row"]:first-child .sort-buttons-wrap > a.swapUp, tr.jqgrow [role="row"]:last-child .sort-buttons-wrap > a.swapDown {  opacity: 0.5;}
.swapDivs > div.swapContent {position: relative;padding: 10px 20px 25px;border: 1px solid #ccc;margin-bottom: 10px;}
div.swapContent a .fa {line-height: 0;}
.swapArrows {position: absolute;    top: 12px;    left: 6px;z-index: 2;}
.sort-buttons-wrap {position: relative;  top: -4px;}
.swapUp, .swapDown {display: block;height: 7px;width: 10px;margin-bottom: 3px;font-size:14px;}
.swapUp:before {content: "\f0d8";position: absolute;top:2px;}
.swapDown:before {content: "\f0d7";position: absolute;top: 12px;}
.swapInnerContent p {font-weight: bold;}
.swapInnerContent p b {margin: 0 10px;}
.swapInnerContent table tr th {width: 20%;font-weight: normal;text-align: center;background: #efefef;}
.swapInnerContent table tr td {width: 20%;font-weight: normal;text-align: center;}
.tooltip.in{z-index:1000000!important;}
textarea[readonly="readonly"] {border:1px solid #eee;color: #495b79; font-size: 12px;font-weight: bold;height: 60px!important;overflow: auto;padding:2px;width:100%}
.scrollableArea{border:1px solid #eee;height: 60px;overflow: auto;width:100%;padding:2px;}
/* Coloured Toggle Buttons */
.toggle-slide {  overflow: hidden;  cursor: pointer;  -webkit-touch-callout: none;  -webkit-user-select: none;  -khtml-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;  direction: ltr;}
.toggle-slide .toggle-on,.toggle-slide .toggle-off,.toggle-slide .toggle-blob {  float: left;}
.toggle-slide .toggle-blob {  position: relative;  z-index: 99;  cursor: hand;  cursor: grab;  cursor: -moz-grab;  cursor: -webkit-grab;}
.toggle-slide {  overflow: hidden;  cursor: pointer;  -webkit-touch-callout: none;  -webkit-user-select: none;  -khtml-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;  direction: ltr;}
.toggle-slide .toggle-on,.toggle-slide .toggle-off,.toggle-slide .toggle-blob {    float: left;}
.toggle-slide .toggle-blob {    position: relative;    z-index: 99;    cursor: hand;    cursor: grab;    cursor: -moz-grab;    cursor: -webkit-grab;}
/*** THEMES ***/
.toggle-default .toggle-slide {  border: 1px solid #ccc;}
.toggle-default .toggle-slide.active {  border-color: #999;}
.toggle-default .toggle-slide .toggle-on, .toggle-default .toggle-slide .toggle-off, .toggle-default .toggle-slide .toggle-blob {  font-size: 11px;  font-weight: 500;}
.toggle-default .toggle-slide .toggle-on, .toggle-default .toggle-select .toggle-inner .active {  background: #999;  color: #fff;}
.toggle-default .toggle-slide .toggle-off, .toggle-default .toggle-select .toggle-on {  color: #666;  background: #f7f7f7;}
.toggle-default .toggle-slide .toggle-blob {  background: #fff;  border-right: 1px solid #ccc;}
.toggle-default .toggle-slide.active .toggle-blob {  border-left: 1px solid #999;  border-right: 0;}
.toggle-default .toggle-slide .toggle-blob:hover {  background: #fcfcfc;}
/* toggle success */
.toggle-success .toggle-slide {  border: 1px solid #999;}
.toggle-success .toggle-slide.active {  border-color: #1CAF9A;}
.toggle-success .toggle-slide .toggle-on,
.toggle-success .toggle-slide .toggle-off,
.toggle-success .toggle-slide .toggle-blob {  font-size: 11px;  font-weight: 500;}
.toggle-success .toggle-slide .toggle-on,
.toggle-success .toggle-select .toggle-inner .active {  background: #1CAF9A;  color: #fff;}
.toggle-success .toggle-slide .toggle-off,
.toggle-success .toggle-select .toggle-on {  color: #fff;  background: #bbb;}
.toggle-success .toggle-slide .toggle-blob {  background: #fff;  border-right: 1px solid #999;}
.toggle-success .toggle-slide.active .toggle-blob {  border-left: 1px solid #4CAE4C;  border-right: 0;}
.toggle-success .toggle-slide .toggle-blob:hover {  background: #fcfcfc;}
/* Coloured Toggle Buttons ends */