/*Grid*/
.ui-jqgrid {position: relative;}
.ui-jqgrid .ui-jqgrid-view {position: relative;left:0; top: 0; padding: 0; font-size:11px;}
/* caption*/
.ui-jqgrid .ui-jqgrid-titlebar {padding: .3em .2em .2em .3em; position: relative; font-size: 12px; border-left: 0 none;border-right: 0 none; border-top: 0 none;}
.ui-jqgrid .ui-jqgrid-caption {text-align: left;}
.ui-jqgrid .ui-jqgrid-title { margin: .1em 0 .2em; }
.ui-jqgrid .ui-jqgrid-titlebar-close { position: absolute;top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height:18px; cursor:pointer;}
.ui-jqgrid .ui-jqgrid-titlebar-close span { display: block; margin: 1px; }
.ui-jqgrid .ui-jqgrid-titlebar-close:hover { padding: 0; }
/* header*/
.ui-jqgrid .ui-jqgrid-hdiv {position: relative; margin: 0;padding: 0; overflow-x: hidden; border-left: 0 none !important; border-top : 0 none !important; border-right : 0 none !important;}
.ui-jqgrid .ui-jqgrid-hbox {float: left; padding-right: 20px;}
.ui-jqgrid .ui-jqgrid-htable {table-layout:fixed;margin:0;}
.ui-jqgrid .ui-jqgrid-htable th {height:22px;padding: 0 2px 0 2px;}
.ui-jqgrid .ui-jqgrid-htable th div {/*overflow: hidden;*/ position:relative; text-align:left;}
.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {overflow: hidden;white-space: nowrap;text-align:center;border-top : 0 none;border-bottom : 0 none;}
.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {border-left : 0 none;}
.ui-th-rtl, .ui-jqgrid .ui-jqgrid-htable th.ui-th-rtl {border-right : 0 none;}
.ui-first-th-ltr {border-right: 1px solid; }
.ui-first-th-rtl {border-left: 1px solid; }
.ui-jqgrid .ui-th-div-ie {white-space: nowrap; zoom :1; height:17px;}
.ui-jqgrid .ui-jqgrid-resize {height:20px !important;position: relative; cursor :e-resize;display: inline;overflow: hidden;}
.ui-jqgrid .ui-grid-ico-sort {overflow:hidden;position:absolute;display:inline; cursor: pointer !important;}
.ui-jqgrid .ui-icon-asc {margin-top:-3px; height:12px;}
.ui-jqgrid .ui-icon-desc {margin-top:3px;height:12px;}
.ui-jqgrid .ui-i-asc {margin-top:0;height:16px;}
.ui-jqgrid .ui-i-desc {margin-top:0;margin-left:13px;height:16px;}
.ui-jqgrid .ui-jqgrid-sortable {cursor:pointer;}
.ui-jqgrid tr.ui-search-toolbar th { border-top-width: 1px !important; border-top-color: inherit !important; border-top-style: ridge !important }
tr.ui-search-toolbar input {margin: 1px 0 0 0}
tr.ui-search-toolbar select {margin: 1px 0 0 0}
/* body */ 
.ui-jqgrid .ui-jqgrid-bdiv {position: relative; margin: 0; padding:0; overflow: auto; text-align:left;}
.ui-jqgrid .ui-jqgrid-btable {table-layout:fixed; margin:0; outline-style: none; }
.ui-jqgrid tr.jqgrow { outline-style: none; }
.ui-jqgrid tr.jqgroup { outline-style: none; }
.ui-jqgrid tr.jqgrow td {font-weight: normal; overflow: hidden; white-space: pre; height: 22px;padding: 0 2px 0 2px;border-bottom-width: 1px; border-bottom-color: inherit; border-bottom-style: solid;}
.ui-jqgrid tr.jqgfirstrow td {padding: 0 2px 0 2px;border-right-width: 1px; border-right-style: solid;}
.ui-jqgrid tr.jqgroup td {font-weight: normal; overflow: hidden; white-space: pre; height: 22px;padding: 0 2px 0 2px;border-bottom-width: 1px; border-bottom-color: inherit; border-bottom-style: solid;}
.ui-jqgrid tr.jqfoot td {font-weight: bold; overflow: hidden; white-space: pre; height: 22px;padding: 0 2px 0 2px;border-bottom-width: 1px; border-bottom-color: inherit; border-bottom-style: solid;}
.ui-jqgrid tr.ui-row-ltr td {text-align:left;border-right-width: 1px; border-right-color: inherit; border-right-style: solid;}
.ui-jqgrid tr.ui-row-rtl td {text-align:right;border-left-width: 1px; border-left-color: inherit; border-left-style: solid;}
.ui-jqgrid td.jqgrid-rownum { padding: 0 2px 0 2px; margin: 0; border: 0 none;}
.ui-jqgrid .ui-jqgrid-resize-mark { width:2px; left:0; background-color:#777; cursor: e-resize; cursor: col-resize; position:absolute; top:0; height:100px; overflow:hidden; display:none; border:0 none; z-index: 99999;}
/* footer */
.ui-jqgrid .ui-jqgrid-sdiv {position: relative; margin: 0;padding: 0; overflow: hidden; border-left: 0 none !important; border-top : 0 none !important; border-right : 0 none !important;}
.ui-jqgrid .ui-jqgrid-ftable {table-layout:fixed; margin-bottom:0;}
.ui-jqgrid tr.footrow td {font-weight: bold; overflow: hidden; white-space:nowrap; height: 21px;padding: 0 2px 0 2px;border-top-width: 1px; border-top-color: inherit; border-top-style: solid;}
.ui-jqgrid tr.footrow-ltr td {text-align:left;border-right-width: 1px; border-right-color: inherit; border-right-style: solid;}
.ui-jqgrid tr.footrow-rtl td {text-align:right;border-left-width: 1px; border-left-color: inherit; border-left-style: solid;}
/* Pager*/
.ui-jqgrid .ui-jqgrid-pager { border-left: 0 none !important;border-right: 0 none !important; border-bottom: 0 none !important; margin: 0 !important; padding: 0 !important; position: relative; height: 25px;white-space: nowrap;overflow: hidden;font-size:11px;}
.ui-jqgrid .ui-pager-control {position: relative;}
.ui-jqgrid .ui-pg-table {position: relative; padding-bottom:2px; width:auto; margin: 0;}
.ui-jqgrid .ui-pg-table td {font-weight:normal; vertical-align:middle; padding:1px;}
.ui-jqgrid .ui-pg-button  { height:19px !important;}
.ui-jqgrid .ui-pg-button span { display: block; margin: 1px; float:left;}
.ui-jqgrid .ui-pg-button:hover { padding: 0; }
.ui-jqgrid .ui-state-disabled:hover {padding:1px;}
.ui-jqgrid .ui-pg-input { height:13px;font-size:.8em; margin: 0;}
.ui-jqgrid .ui-pg-selbox {font-size:.8em; line-height:18px; display:block; height:18px; margin: 0;}
.ui-jqgrid .ui-separator {height: 18px; border-left: 1px solid #ccc ; border-right: 1px solid #ccc ; margin: 1px; float: right;}
.ui-jqgrid .ui-paging-info {font-weight: normal;height:19px; margin-top:3px;margin-right:4px;}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div {padding:1px 0;float:left;position:relative;}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-button { cursor:pointer; }
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div  span.ui-icon {float:left;margin:0 2px;}
.ui-jqgrid td input, .ui-jqgrid td select .ui-jqgrid td textarea { margin: 0;}
.ui-jqgrid td textarea {width:auto;height:auto;}
.ui-jqgrid .ui-jqgrid-toppager {border-left: 0 none !important;border-right: 0 none !important; border-top: 0 none !important; margin: 0 !important; padding: 0 !important; position: relative; height: 25px !important;white-space: nowrap;overflow: hidden;}
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div {padding:1px 0;float:left;position:relative;}
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-button { cursor:pointer; }
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div  span.ui-icon {float:left;margin:0 2px;}
/*subgrid*/
.ui-jqgrid .ui-jqgrid-btable .ui-sgcollapsed span {display: block;}
.ui-jqgrid .ui-subgrid {margin:0;padding:0; width:100%;}
.ui-jqgrid .ui-subgrid table {table-layout: fixed;}
.ui-jqgrid .ui-subgrid tr.ui-subtblcell td {height:18px;border-right-width: 1px; border-right-color: inherit; border-right-style: solid;border-bottom-width: 1px; border-bottom-color: inherit; border-bottom-style: solid;}
.ui-jqgrid .ui-subgrid td.subgrid-data {border-top:  0 none !important;}
.ui-jqgrid .ui-subgrid td.subgrid-cell {border-width: 0 0 1px 0;}
.ui-jqgrid .ui-th-subgrid {height:20px;}
/* loading */
.ui-jqgrid .loading {position: absolute; top: 0;left: 0%; background-image: url(../images/blue-loader.GIF); background-repeat:no-repeat; background-position: center center;background-color: rgba(0, 0, 0, 0.35); width: 100%; height:100%; /*background-color: rgba(0, 0, 0, 0.12);*/ z-index:101;padding: 6px; margin:0;text-align: center;font-weight: bold;display: none;border-width: 2px !important; font-size:0px;}
.ui-jqgrid .jqgrid-overlay {display:none;z-index:100;}
/* IE * html .jqgrid-overlay {width: expression(this.parentNode.offsetWidth+'px');height: expression(this.parentNode.offsetHeight+'px');} */
* .jqgrid-overlay iframe {position:absolute;top:0;left:0;z-index:-1;}
/* IE width: expression(this.parentNode.offsetWidth+'px');height: expression(this.parentNode.offsetHeight+'px');}*/
/* end loading div */
/* toolbar */
.ui-jqgrid .ui-userdata {border-left: 0 none;    border-right: 0 none;	height : 21px;overflow: hidden;	}
/*Modal Window */
.ui-jqdialog { display: none; width: 300px; position: absolute; padding: .2em; font-size:11px; overflow:visible;}
.ui-jqdialog .ui-jqdialog-titlebar { padding: .3em .2em; position: relative;  }
.ui-jqdialog .ui-jqdialog-title { margin: .1em 0 .2em; } 
.ui-jqdialog .ui-jqdialog-titlebar-close { position: absolute;  top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; cursor:pointer;}

.ui-jqdialog .ui-jqdialog-titlebar-close span { display: block; margin: 1px; }
.ui-jqdialog .ui-jqdialog-titlebar-close:hover, .ui-jqdialog .ui-jqdialog-titlebar-close:focus { padding: 0; }
.ui-jqdialog-content, .ui-jqdialog .ui-jqdialog-content { border: 0; padding: .3em .2em; background: none; height:auto;}
.ui-jqdialog .ui-jqconfirm {padding: .4em 1em; border-width:3px;position:absolute;bottom:10px;right:10px;overflow:visible;display:none;height:80px;width:220px;text-align:center;}
.ui-jqdialog>.ui-resizable-se { bottom: -3px; right: -3px}
.ui-jqgrid>.ui-resizable-se { bottom: -3px; right: -3px }
/* end Modal window*/
/* Form edit */
.ui-jqdialog-content .FormGrid {margin: 0;}
.ui-jqdialog-content .EditTable { width: 100%; margin-bottom:0;}
.ui-jqdialog-content .DelTable { width: 100%; margin-bottom:0;}
.EditTable td input, .EditTable td select, .EditTable td textarea {margin: 0;}
.EditTable td textarea { width:auto; height:auto;}
.ui-jqdialog-content td.EditButton {text-align: right;border-top: 0 none;border-left: 0 none;border-right: 0 none; padding-bottom:5px; padding-top:5px;}
.ui-jqdialog-content td.navButton {text-align: center; border-left: 0 none;border-top: 0 none;border-right: 0 none; padding-bottom:5px; padding-top:5px;}
.ui-jqdialog-content input.FormElement {padding:.3em}
.ui-jqdialog-content select.FormElement {padding:.3em}
.ui-jqdialog-content .data-line {padding-top:.1em;border: 0 none;}

.ui-jqdialog-content .CaptionTD {vertical-align: middle;border: 0 none; padding: 2px;white-space: nowrap;}
.ui-jqdialog-content .DataTD {padding: 2px; border: 0 none; vertical-align: top;}
.ui-jqdialog-content .form-view-data {white-space:pre}
.fm-button { display: inline-block; margin:0 4px 0 0; padding: .4em .5em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fm-button-icon-left { padding-left: 1.9em; }
.fm-button-icon-right { padding-right: 1.9em; }
.fm-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; position: absolute; top: 50%; margin-top: -8px; }
.fm-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; position: absolute; top: 50%; margin-top: -8px;}
#nData, #pData { float: left; margin:3px;padding: 0; width: 15px; }
/* End Eorm edit */
/*.ui-jqgrid .edit-cell {}*/
.ui-jqgrid .selected-row, div.ui-jqgrid .selected-row td {font-style : normal;border-left: 0 none;}
/* inline edit actions button*/
.ui-inline-del.ui-state-hover span, .ui-inline-edit.ui-state-hover span,
.ui-inline-save.ui-state-hover span, .ui-inline-cancel.ui-state-hover span {
    margin: -1px;
}
/* Tree Grid */
.ui-jqgrid .tree-wrap {float: left; position: relative;height: 18px;white-space: nowrap;overflow: hidden;}
.ui-jqgrid .tree-minus {position: absolute; height: 18px; width: 18px; overflow: hidden;}
.ui-jqgrid .tree-plus {position: absolute;	height: 18px; width: 18px;	overflow: hidden;}
.ui-jqgrid .tree-leaf {position: absolute;	height: 18px; width: 18px;overflow: hidden;}
.ui-jqgrid .treeclick {cursor: pointer;}
/* moda dialog */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;}
/*	 width: expression(this.parentNode.offsetWidth+'px');height: expression(this.parentNode.offsetHeight+'px');}*/
.ui-jqgrid-dnd tr td {border-right-width: 1px; border-right-color: inherit; border-right-style: solid; height:20px}
/* RTL Support */
.ui-jqgrid .ui-jqgrid-caption-rtl {text-align: right;}
.ui-jqgrid .ui-jqgrid-hbox-rtl {float: right; padding-left: 20px;}
.ui-jqgrid .ui-jqgrid-resize-ltr {float: right;margin: -2px -2px -2px 0;}
.ui-jqgrid .ui-jqgrid-resize-rtl {float: left;margin: -2px 0 -1px -3px;}
.ui-jqgrid .ui-sort-rtl {left:0;}
.ui-jqgrid .tree-wrap-ltr {float: left;}
.ui-jqgrid .tree-wrap-rtl {float: right;}
.ui-jqgrid .ui-ellipsis {-moz-text-overflow:ellipsis;text-overflow:ellipsis;}

/* Toolbar Search Menu */
.ui-search-menu { position: absolute; padding: 2px 5px;}
.ui-jqgrid .ui-search-table { padding: 0; border: 0 none; height:20px; width:100%;}
.ui-jqgrid .ui-search-table .ui-search-oper { width:20px; }
a.g-menu-item, a.soptclass, a.clearsearchclass { cursor: pointer; }
.ui-jqgrid .ui-search-table .ui-search-input>input,
.ui-jqgrid .ui-search-table .ui-search-input>select
{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} 
.ui-jqgrid .ui-jqgrid-view input,
.ui-jqgrid .ui-jqgrid-view select,
.ui-jqgrid .ui-jqgrid-view textarea,
.ui-jqgrid .ui-jqgrid-view button {font-size: 11px}
/*Custom*/
.ui-jqgrid .right-cell {padding-right:10px !important;text-align:right !important;}
.ui-jqgrid .right-cell > div.ui-jqgrid-sortable {text-align:right !important;padding-right:8px;}
.ui-jqgrid .center-cell { text-align:center !important; }
.ui-jqgrid td.myPager a { text-decoration:underline !important }
.ui-pager-control > table > tbody > tr > td {width: auto !important;}
.ui-jqgrid .ui-widget-content {border-width:0px;}
.tbl-common-actions{position: relative;top: 0px;left: 95px;}
.tbl-common-actions select{padding: 5px;}
.tbl-common-actions button{padding: 1px 5px;}
.tbl_wrapper .ui-jqgrid{    background:#fff;}
.tbl_wrapper .ui-jqgrid .ui-jqgrid-pager{height: auto !important;}
.tbl_wrapper .ui-jqgrid .ui-pg-table td{    font-size: 13px !important;    }
.tbl_wrapper .ui-jqgrid .ui-pg-table td.ui-state-hover{  background: none;   }
.tbl_wrapper .ui-pager-control > table.ui-pg-table > tbody > tr > td:nth-child(2) .ui-icon, .tbl_wrapper .navtable .ui-icon {
    background-image: url(../images/table-sprites.png);
}
.ui-jqgrid .ui-icon { width:10px;    height:10px;    display:inline-block;}
.tbl_wrapper .ui-pager-control table.ui-pg-table > tbody > tr > td.ui-state-disabled .ui-icon{    opacity: 0.4;    top: 0 !important;}
.tbl_wrapper .ui-pager-control > table.ui-pg-table > tbody > tr > td:nth-child(2) .ui-icon{    width: 27px;    height: 27px;   background-repeat: no-repeat;    display: block;    border-radius: 5px;    border-top: none;   border-right: none;    border-left: none;    position: relative;    margin: 0px 3px;    }
.tbl_wrapper .ui-pager-control > table.ui-pg-table > tbody > tr > td:nth-child(2) .ui-icon:hover, .tbl_wrapper .navtable .ui-icon:hover {     border-bottom: 1px;      top: 1px;    }
.tbl_wrapper .jqgfirstrow td {  padding: 0px !important;  height: 0px !important;  border:0!important;}
.tbl_wrapper .ui-pg-table .ui-icon-seek-first{background-position: -19px 2px;}
.tbl_wrapper .ui-pg-table .ui-icon-seek-end{background-position: -46px 2px;}
.tbl_wrapper .ui-pg-table .ui-icon-seek-prev{background-position: 4px 2px;}
.tbl_wrapper .ui-pg-table .ui-icon-seek-next{background-position: -71px 2px; }
.tbl_wrapper .ui-pg-table td:nth-child(2) .ui-pg-button{vertical-align: central;text-align: center;}
.tbl_wrapper .ui-pg-table td:nth-child(2) .ui-pg-button.ui-state-hover {background: none !important;}
.tbl_wrapper .ui-pg-table td:nth-child(2) .ui-pg-button:nth-child(3), .tbl_wrapper .ui-pg-table td:nth-child(2) .ui-pg-button:nth-child(5){
    background: none !important;
    border: none !important;
        }

.tbl_wrapper .ui-pg-table .ui-separator, .tbl_wrapper .ui-pg-table td:nth-child(2) .ui-pg-button{border: none; padding: 0px;}
.tbl_wrapper .ui-jqgrid .ui-jqgrid-pager{padding: 5px !important;border-top:1px solid #e7e7e7 !important}
.tbl_wrapper .ui-jqgrid .ui-pg-selbox{height: 21px !important;border-radius: 0;/*border: 1px solid #ccc;*/}
.tbl_wrapper .ui-jqgrid .ui-pg-table td:last-child {padding: 0px 0 0 0px;}
.tbl_wrapper .ui-jqgrid .ui-pg-input{height: 21px !important;  font-size: 12px !important; text-align: center;border:1px solid #ccc;}

.tbl_wrapper .ui-widget-content {border-width:0px;}
.tbl_wrapper .ui-jqgrid-htable tr.ui-jqgrid-labels th, .tbl_wrapper th { border-right: 1px solid #CCC !important;font-size: 13px !important;font-weight: normal !important;color:#273448 !important;background-image: none !important;background-color: #d8e0ee !important;font-family: "RobotoCondensed";padding-top:2px !important;padding-bottom:2px !important;padding-left:5px!important;padding-right: 0!important;}
.tbl_wrapper .ui-jqgrid-htable tr.jqg-second-row-header th{border-bottom:1px solid #ccc!important}
.tbl_wrapper .ui-jqgrid-pager {background: none !important;}
.tbl_wrapper .ui-jqgrid tr.ui-row-ltr > td, .tbl_wrapper td {border-right: 1px solid #e7e7e7 !important; color: #636e7b;  height: 24px !important;padding-top: 0px!important;padding-bottom: 0px!important;padding-left: 5px;font-size: 11px !important;border-top: 1px solid #e7e7e7 !important;text-overflow: ellipsis;line-height:11px;border-bottom:0!important;}
.tbl_wrapper .ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr:first-child td, .tbl_wrapper .ui-jqgrid-bdiv tr.jqgrow:first-child td{border-top:0!important; }
.tbl_wrapper .ui-jqgrid tr.ui-row-ltr > td:last-child, .tbl_wrapper td:last-child { border-right:0!important; }
.tbl_wrapper tr:nth-child(2n+3) td {background-color: #f8f9fa /*!important*/;border-bottom: 1px solid #dce0e2 !important;}
.tbl_wrapper .link {color: #0FA0D2;}
.tbl-header {clear: both;}
.tbl_wrapper .ui-state-highlight, .tbl_wrapper .ui-state-highlight td {background: #EBF5FF  !important;}
.tbl_wrapper tr.ui-state-hover, .tbl_wrapper tr.ui-widget-content:hover {background: #efefef !important;}
.tbl_wrapper tr.ui-state-hover:nth-child(2n+3) td, .tbl_wrapper tr.ui-widget-content:hover td{background: #DEE2E8 !important;}
.tbl_wrapper.two-row-hdr > thead > tr:last-child > th {color: #777 !important;font-size: 13px !important; }
.tbl_wrapper .ui-jqgrid-htable > thead > tr > th[id*="_cb"] {width:25px !important;}
.tbl_wrapper .ui-jqgrid-btable > tbody > tr > td[aria-describedby*="_cb"] {width:25px !important;padding-left:2px}
.tbl_wrapper .ui-jqgrid-htable > thead > tr.jqg-first-row-header {display:none !important;}
.tbl_wrapper .ui-state-hover{border-width:0px !important;}
.tbl_wrapper .ui-jqgrid-htable > thead > tr:first-child:not(.jqg-first-row-header) > th {background: none repeat scroll 0 0 #d8e0ee !important;border-right: 1px solid #c8ced7 !important;height: 35px !important;}
.tbl_wrapper .ui-jqgrid-htable > thead > tr:first-child:not(.jqg-first-row-header) > th:last-child {border-right:0!important}
.tbl_wrapper .ui-jqgrid-htable > thead > tr.ui-jqgrid-labels > th .cbox{margin-left:1px;margin-top:3px;}

.tbl-common-actions{position: relative; top: -45px; left: 140px;}
.tbl-common-actions select{padding: 0px !important;}
.tbl-common-actions button{padding:5px 5px 3px!important;}

.tbl_wrapper .navtable .ui-icon {
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    display: block;
    border-radius: 5px;
    border: none;
    position: relative;
    margin: 0px 3px;
}

.tbl_wrapper .navtable td {
    padding: 0px !important;
}

.tbl_wrapper .navtable .ui-icon-tssplus {
    background-position: -94px 1px;
} 

.tbl_wrapper .navtable .ui-icon-tsspencil {
    background-position: -122px 1px;
} 

.tbl_wrapper .navtable .ui-icon-tsstrash {
    background-position: 4px -26px;
} 
.tbl_wrapper .navtable .ui-icon-tssrefresh {
    background-position: -20px -25px;
} 

.tbl_wrapper .navtable .ui-icon-tsssearch {
    background-position: -46px -25px;
} 

.tbl_wrapper .navtable .ui-icon-tssdocument {
    background-position: -71px -24px;
}
/*.tbl_wrapper .ui-jqgrid .ui-jqgrid-bdiv{border-bottom: 1px solid #e5e5e5;}*/

.tbl_wrapper .s-ico {
    margin-left: 5px;
}

.tbl_wrapper .ui-state-default .ui-icon.ui-icon-asc {
    background-image: url(../images/custom-select.png);
    background-position: -23px -10px;
    width: 6px;/*16*/
    height: 12px;
    margin-top: 5px;margin-left:6px;
}

.tbl_wrapper .ui-state-default .ui-icon.ui-icon-desc {
    background-image: url(../images/custom-select.png);
    background-position: -5px -8px;
    width: 6px!important;/*16*/
    height: 12px;
    margin-top: 9px;margin-left:6px;
}
.ui-jqgrid .ui-search-toolbar > th {
    height:30px !important;
    line-height:30px !important;
    padding:0px !important;
}
.ui-jqgrid .ui-search-toolbar > th div table{
        line-height:20px !important;
}
.ui-jqgrid .ui-search-toolbar > th div table td.ui-search-input {
    padding:2px 0px !important;
    line-height:24px !important;
}

.ui-jqgrid .ui-search-toolbar th input {
    width:100% !important;
}
/*Added*/
tbody input[type="checkbox"], input[type="radio"] {
    margin-top:2px;
}
/*.table-responsive tr td:nth-child(2), .tbl_wrapper th:nth-child(2) {
padding-left:20px!important
}*/
.budgetConsumption table tr th:nth-child(n+5) {
    text-align:center !important;
}
#pre_tblPreEventTargetAudience-plist_left, #pre_tblCampaignGroupaddedlist-plist_left, #post_tblPreEventTargetAudience-plist_left, #post_tblCampaignGroupaddedlist-plist_left {
    width:0px !important;
}
.ui-jqgrid tr td {vertical-align:middle !important}
.ui-jqgrid tr td[role="gridcell"] input[type="text"] {  border: 1px solid #eee;  display: inline-block;  height: 20px !important;  width: 100% !important;}
/*Reports*/
#resultDiv .tbl_wrapper {
border-top:0px solid #C8C8C8!important;
}
    #resultDiv .tbl_wrapper .ui-jqgrid-htable tr.ui-jqgrid-labels th, #reportdata .tbl_wrapper th {
    background:#eee!important;color:#777575!important;
    }
    #resultDiv .tbl_wrapper .ui-jqgrid .ui-jqgrid-bdiv, #resultDiv .tbl_wrapper .ui-jqgrid-htable {
    border-bottom:1px solid #C8C8C8!important;
    }

@media only screen and (max-width: 1200px){
    .tbl_wrapper .ui-jqgrid tr.ui-row-ltr > td, .tbl_wrapper td {
        padding-right:2px!important;
    }
}
@media only screen and (max-width: 640px) {
    .tbl_wrapper .ui-jqgrid .ui-pg-table td {
        font-size:11px !important;
    }
}
/*.tbl_wrapper .ui-widget-content, .ui-jqgrid .ui-jqgrid-view, .tbl_wrapper .ui-jqgrid .ui-jqgrid-pager, .ui-jqgrid .ui-jqgrid-hdiv, .tbl_wrapper .ui-jqgrid .ui-jqgrid-bdiv, .tbl_wrapper .ui-jqgrid-htable, .ui-jqgrid .ui-jqgrid-btable {width:100%!important;}
.tbl_wrapper .ui-jqgrid .ui-jqgrid-bdiv {
overflow-x:hidden
}
.ui-jqgrid .ui-jqgrid-hbox {
padding-right:0;
}*/
.tbl-common-actions.inblock {
    left:85px;
}

.ui-jqgrid .ui-state-default, .ui-jqgrid .ui-widget-content .ui-state-default, .ui-jqgrid .ui-widget-header .ui-state-default {
border:none!important;
}

.tbl_wrapper .ui-jqgrid tr.jqgroup > td, .fee_table.tbl_wrapper .ui-jqgrid tr.ui-row-ltr > td, .fee_table.tbl_wrapper td{
    /*
    border-left:1px solid #b2d2f2!important;
    border-bottom:1px solid #b2d2f2!important;
    border-right:2px solid #b2d2f2!important;
    */
}
.fee_table.tbl_wrapper .ui-jqgrid-htable {
    /*
    border-left:1px solid #b2d2f2!important;
    border-bottom:1px solid #b2d2f2!important;
    border-right:2px solid #b2d2f2!important;
    */
}
.ui-state-default.ui-th-column-header.ui-th-ltr {
    text-align: center;
    text-indent: -55px !important;
}
.ui-pager-control td {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

/*PSS JQGRID Customization*/
[name="pss"] .tbl_wrapper .ui-jqgrid-htable > thead > tr:first-child:not(.jqg-first-row-header) > th {background: rgba(0, 0, 0, 0.05)!important;border-right: 1px solid #c8ced7 !important;height: 28px !important;}
[name="pss"] .tbl_wrapper tr.ui-state-hover, [name="pss"] .tbl_wrapper tr.ui-widget-content:hover {
  background: rgba(135, 2, 112, 0) !important;
}
/*.tbl_wrapper tr.ui-state-hover:nth-child(2n+3) td,*/
[name="pss"] .tbl_wrapper tr.ui-widget-content:hover td,  [name="pss"] .tbl_wrapper .ui-state-highlight, [name="pss"] .tbl_wrapper .ui-state-highlight td,  [name="pss"] .tbl_wrapper tr.ui-state-hover:nth-child(2n+3) td,  [name="pss"] .tbl_wrapper tr.ui-widget-content:hover td {
  background-color: rgba(220, 220, 220, 0.24) !important;
}
[name="pss"] .tbl_wrapper .ui-jqgrid{background:none!important}
[name="pss"] .tbl_wrapper tr:nth-child(2n+3) td {
  border-bottom: 1px solid #dce0e2 !important;
  background: none!important;
}
