<div class="cv-tabs col-sm-12 clearfix clearboth padding0 top20">
            <div class="col-xs-4 col-lg-3 pad-left-none">
                <!-- required for floating -->
                <!-- Nav tabs -->
                <div class="col-sm-12 clearfix clearboth padding0">
                	<input type="text" placeholder="Enter Sprint Name" class="input-with-btn col-sm-12" maxlength="250">
                    <a onclick="addSprint(this)" class="button-common"><i class="fa fa-plus"></i></a>
                </div>
                <ul class="nav tabs-left" id="sprintsTabs">
                    <li class="active">
                        <a data-toggle="tab" href="#vtab01">
                            <b>Sprint 1</b>
                            <label>
                            	<span class="">21/01/2016
                                <i class="">Start Date</i>
                                </span>
                                <span class="">28/01/2016
                                <i class="">End Date</i></span>
                                  <span>20
                                <i class="">Days Left</i></span>
                            </label>
                            <div class="prgress-bar"></div>
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#vtab01">
                            <b>Sprint 1</b>
                            <label>
                            	<span class="">21/01/2016
                                <i class="">Start Date</i>
                                </span>
                                <span class="">28/01/2016
                                <i class="">End Date</i></span>
                                  <span>20
                                <i class="">Days Left</i></span>
                            </label>
                            <div class="prgress-bar"></div>
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#vtab01">
                            <b>Sprint 1</b>
                            <label>
                            	<span class="">21/01/2016
                                <i class="">Start Date</i>
                                </span>
                                <span class="">28/01/2016
                                <i class="">End Date</i></span>
                                  <span>20
                                <i class="">Days Left</i></span>
                            </label>
                            <div class="prgress-bar"></div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-8 col-lg-9 padding0">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="vtab01" class="tab-pane padding0 active">
                    	<div class="hScroll col-sm-12 clearfix clearboth padding0">
	                    	<div class="tasks-list">
                        	<div class="tasks-col">
                            	<h3 class="normal-heading">Unassigned</h3>
                                <div class="vScroll">
                                <div class="col-sm-12 clearfix clearboth padding0">
                                	<div class="task-block">
                                    	<p class=" red-dot">
                                        	<a class="link" href="task-details.html">Contact Management</a>
                                            <a class="pull-right task-actions">
                                            	<i class="fa fa-cog"></i>
                                            </a>
                                        </p>
                                        <label class="module-name">CRM</label>
                                        <p class="task-dates">
                                        	<span>21/04/2016
                                            	<i>Start Date</i>
                                            </span>
                                            <span>28/04/2016
                                            	<i>End Date</i>
                                            </span>
                                        </p>
                                        <p>Estimated Time: <b>4 Hours</b></p>
                                        <p>Actual Time: <b>6 Hours</b></p>
                                        <div class="info-links col-sm-12 clearfix clearboth padding0">
                                        	<div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-users"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-paperclip"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-files-o"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="task-block">
                                    	<p class="">
                                        	<a class="link" href="task-details.html">Contact Management</a>
                                            <a class="pull-right task-actions">
                                            	<i class="fa fa-cog"></i>
                                            </a>
                                        </p>
                                        <label class="module-name">CRM</label>
                                        <p class="task-dates">
                                        	<span>21/04/2016
                                            	<i>Start Date</i>
                                            </span>
                                            <span>28/04/2016
                                            	<i>End Date</i>
                                            </span>
                                        </p>
                                        <p>Estimated Time: <b>4 Hours</b></p>
                                        <p>Actual Time: <b>6 Hours</b></p>
                                        <div class="info-links col-sm-12 clearfix clearboth padding0">
                                        	<div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-users"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-paperclip"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-files-o"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="task-block">
                                    	<p class="">
                                        	<a class="link" href="task-details.html">Contact Management</a>
                                            <a class="pull-right task-actions">
                                            	<i class="fa fa-cog"></i>
                                            </a>
                                        </p>
                                        <label class="module-name">CRM</label>
                                        <p class="task-dates">
                                        	<span>21/04/2016
                                            	<i>Start Date</i>
                                            </span>
                                            <span>28/04/2016
                                            	<i>End Date</i>
                                            </span>
                                        </p>
                                        <p>Estimated Time: <b>4 Hours</b></p>
                                        <p>Actual Time: <b>6 Hours</b></p>
                                        <div class="info-links col-sm-12 clearfix clearboth padding0">
                                        	<div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-users"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-paperclip"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-files-o"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="tasks-col">
                            	<h3 class="normal-heading">To Do</h3>
                                <div class="vScroll">
                                <div class="col-sm-12 clearfix clearboth padding0">
                                	<div class="task-block">
                                    	<p class="">
                                        	<a class="link" href="task-details.html">Contact Management</a>
                                            <a class="pull-right task-actions">
                                            	<i class="fa fa-cog"></i>
                                            </a>
                                        </p>
                                        <label class="module-name">CRM</label>
                                        <p class="task-dates">
                                        	<span>21/04/2016
                                            	<i>Start Date</i>
                                            </span>
                                            <span>28/04/2016
                                            	<i>End Date</i>
                                            </span>
                                        </p>
                                        <p>Estimated Time: <b>4 Hours</b></p>
                                        <p>Actual Time: <b>6 Hours</b></p>
                                        <div class="info-links col-sm-12 clearfix clearboth padding0">
                                        	<div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-users"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-paperclip"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-files-o"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="task-block">
                                    	<p class="">
                                        	<a class="link" href="task-details.html">Contact Management</a>
                                            <a class="pull-right task-actions">
                                            	<i class="fa fa-cog"></i>
                                            </a>
                                        </p>
                                        <label class="module-name">CRM</label>
                                        <p class="task-dates">
                                        	<span>21/04/2016
                                            	<i>Start Date</i>
                                            </span>
                                            <span>28/04/2016
                                            	<i>End Date</i>
                                            </span>
                                        </p>
                                        <p>Estimated Time: <b>4 Hours</b></p>
                                        <p>Actual Time: <b>6 Hours</b></p>
                                        <div class="info-links col-sm-12 clearfix clearboth padding0">
                                        	<div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-users"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-paperclip"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-files-o"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="task-block">
                                    	<p class="">
                                        	<a class="link" href="task-details.html">Contact Management</a>
                                            <a class="pull-right task-actions">
                                            	<i class="fa fa-cog"></i>
                                            </a>
                                        </p>
                                        <label class="module-name">CRM</label>
                                        <p class="task-dates">
                                        	<span>21/04/2016
                                            	<i>Start Date</i>
                                            </span>
                                            <span>28/04/2016
                                            	<i>End Date</i>
                                            </span>
                                        </p>
                                        <p>Estimated Time: <b>4 Hours</b></p>
                                        <p>Actual Time: <b>6 Hours</b></p>
                                        <div class="info-links col-sm-12 clearfix clearboth padding0">
                                        	<div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-users"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-paperclip"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-files-o"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="tasks-col">
                            	<h3 class="normal-heading">In Progress</h3>
                                 <div class="vScroll">
                                <div class="col-sm-12 clearfix clearboth padding0">
                                	<div class="task-block">
                                    	<p class="">
                                        	<a class="link" href="task-details.html">Contact Management</a>
                                            <a class="pull-right task-actions">
                                            	<i class="fa fa-cog"></i>
                                            </a>
                                        </p>
                                        <label class="module-name">CRM</label>
                                        <p class="task-dates">
                                        	<span>21/04/2016
                                            	<i>Start Date</i>
                                            </span>
                                            <span>28/04/2016
                                            	<i>End Date</i>
                                            </span>
                                        </p>
                                        <p>Estimated Time: <b>4 Hours</b></p>
                                        <p>Actual Time: <b>6 Hours</b></p>
                                        <div class="info-links col-sm-12 clearfix clearboth padding0">
                                        	<div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-users"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-paperclip"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-files-o"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="task-block">
                                    	<p class="">
                                        	<a class="link" href="task-details.html">Contact Management</a>
                                            <a class="pull-right task-actions">
                                            	<i class="fa fa-cog"></i>
                                            </a>
                                        </p>
                                        <label class="module-name">CRM</label>
                                        <p class="task-dates">
                                        	<span>21/04/2016
                                            	<i>Start Date</i>
                                            </span>
                                            <span>28/04/2016
                                            	<i>End Date</i>
                                            </span>
                                        </p>
                                        <p>Estimated Time: <b>4 Hours</b></p>
                                        <p>Actual Time: <b>6 Hours</b></p>
                                        <div class="info-links col-sm-12 clearfix clearboth padding0">
                                        	<div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-users"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-paperclip"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-files-o"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="task-block">
                                    	<p class="">
                                        	<a class="link" href="task-details.html">Contact Management</a>
                                            <a class="pull-right task-actions">
                                            	<i class="fa fa-cog"></i>
                                            </a>
                                        </p>
                                        <label class="module-name">CRM</label>
                                        <p class="task-dates">
                                        	<span>21/04/2016
                                            	<i>Start Date</i>
                                            </span>
                                            <span>28/04/2016
                                            	<i>End Date</i>
                                            </span>
                                        </p>
                                        <p>Estimated Time: <b>4 Hours</b></p>
                                        <p>Actual Time: <b>6 Hours</b></p>
                                        <div class="info-links col-sm-12 clearfix clearboth padding0">
                                        	<div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-users"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-paperclip"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-files-o"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="tasks-col">
                            	<h3 class="normal-heading">Done</h3>
                                 <div class="vScroll">
                                <div class="col-sm-12 clearfix clearboth padding0">
                                	<div class="task-block">
                                    	<p class="">
                                        	<a class="link" href="task-details.html">Contact Management</a>
                                            <a class="pull-right task-actions">
                                            	<i class="fa fa-cog"></i>
                                            </a>
                                        </p>
                                        <label class="module-name">CRM</label>
                                        <p class="task-dates">
                                        	<span>21/04/2016
                                            	<i>Start Date</i>
                                            </span>
                                            <span>28/04/2016
                                            	<i>End Date</i>
                                            </span>
                                        </p>
                                        <p>Estimated Time: <b>4 Hours</b></p>
                                        <p>Actual Time: <b>6 Hours</b></p>
                                        <div class="info-links col-sm-12 clearfix clearboth padding0">
                                        	<div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-users"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-paperclip"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-files-o"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="task-block">
                                    	<p class="">
                                        	<a class="link" href="task-details.html">Contact Management</a>
                                            <a class="pull-right task-actions">
                                            	<i class="fa fa-cog"></i>
                                            </a>
                                        </p>
                                        <label class="module-name">CRM</label>
                                        <p class="task-dates">
                                        	<span>21/04/2016
                                            	<i>Start Date</i>
                                            </span>
                                            <span>28/04/2016
                                            	<i>End Date</i>
                                            </span>
                                        </p>
                                        <p>Estimated Time: <b>4 Hours</b></p>
                                        <p>Actual Time: <b>6 Hours</b></p>
                                        <div class="info-links col-sm-12 clearfix clearboth padding0">
                                        	<div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-users"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-paperclip"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-files-o"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="task-block">
                                    	<p class="">
                                        	<a class="link" href="task-details.html">Contact Management</a>
                                            <a class="pull-right task-actions">
                                            	<i class="fa fa-cog"></i>
                                            </a>
                                        </p>
                                        <label class="module-name">CRM</label>
                                        <p class="task-dates">
                                        	<span>21/04/2016
                                            	<i>Start Date</i>
                                            </span>
                                            <span>28/04/2016
                                            	<i>End Date</i>
                                            </span>
                                        </p>
                                        <p>Estimated Time: <b>4 Hours</b></p>
                                        <p>Actual Time: <b>6 Hours</b></p>
                                        <div class="info-links col-sm-12 clearfix clearboth padding0">
                                        	<div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-users"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-paperclip"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-files-o"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="tasks-col">
                            	<h3 class="normal-heading">On Hold</h3>
                                 <div class="vScroll">
                                <div class="col-sm-12 clearfix clearboth padding0">
                                	<div class="task-block">
                                    	<p class="red-dot">
                                        	<a class="link" href="task-details.html">Contact Management</a>
                                            <a class="pull-right task-actions">
                                            	<i class="fa fa-cog"></i>
                                            </a>
                                        </p>
                                        <label class="module-name">CRM</label>
                                        <p class="task-dates">
                                        	<span>21/04/2016
                                            	<i>Start Date</i>
                                            </span>
                                            <span>28/04/2016
                                            	<i>End Date</i>
                                            </span>
                                        </p>
                                        <p>Estimated Time: <b>4 Hours</b></p>
                                        <p>Actual Time: <b>6 Hours</b></p>
                                        <div class="info-links col-sm-12 clearfix clearboth padding0">
                                        	<div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-users"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-paperclip"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-files-o"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="task-block">
                                    	<p class="">
                                        	<a class="link" href="task-details.html">Contact Management</a>
                                            <a class="pull-right task-actions">
                                            	<i class="fa fa-cog"></i>
                                            </a>
                                        </p>
                                        <label class="module-name">CRM</label>
                                        <p class="task-dates">
                                        	<span>21/04/2016
                                            	<i>Start Date</i>
                                            </span>
                                            <span>28/04/2016
                                            	<i>End Date</i>
                                            </span>
                                        </p>
                                        <p>Estimated Time: <b>4 Hours</b></p>
                                        <p>Actual Time: <b>6 Hours</b></p>
                                        <div class="info-links col-sm-12 clearfix clearboth padding0">
                                        	<div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-users"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-paperclip"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-files-o"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="task-block">
                                    	<p class="">
                                        	<a class="link" href="task-details.html">Contact Management</a>
                                            <a class="pull-right task-actions">
                                            	<i class="fa fa-cog"></i>
                                            </a>
                                        </p>
                                        <label class="module-name">CRM</label>
                                        <p class="task-dates">
                                        	<span>21/04/2016
                                            	<i>Start Date</i>
                                            </span>
                                            <span>28/04/2016
                                            	<i>End Date</i>
                                            </span>
                                        </p>
                                        <p>Estimated Time: <b>4 Hours</b></p>
                                        <p>Actual Time: <b>6 Hours</b></p>
                                        <div class="info-links col-sm-12 clearfix clearboth padding0">
                                        	<div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-users"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-paperclip"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-files-o"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="tasks-col">
                            	<h3 class="normal-heading">Iteration</h3>
                                 <div class="vScroll">
                                <div class="col-sm-12 clearfix clearboth padding0">
                                	<div class="task-block">
                                    	<p class="">
                                        	<a class="link" href="task-details.html">Contact Management</a>
                                            <a class="pull-right task-actions">
                                            	<i class="fa fa-cog"></i>
                                            </a>
                                        </p>
                                        <label class="module-name">CRM</label>
                                        <p class="task-dates">
                                        	<span>21/04/2016
                                            	<i>Start Date</i>
                                            </span>
                                            <span>28/04/2016
                                            	<i>End Date</i>
                                            </span>
                                        </p>
                                        <p>Estimated Time: <b>4 Hours</b></p>
                                        <p>Actual Time: <b>6 Hours</b></p>
                                        <div class="info-links col-sm-12 clearfix clearboth padding0">
                                        	<div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-users"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-paperclip"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-files-o"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="task-block">
                                    	<p class="">
                                        	<a class="link" href="task-details.html">Contact Management</a>
                                            <a class="pull-right task-actions">
                                            	<i class="fa fa-cog"></i>
                                            </a>
                                        </p>
                                        <label class="module-name">CRM</label>
                                        <p class="task-dates">
                                        	<span>21/04/2016
                                            	<i>Start Date</i>
                                            </span>
                                            <span>28/04/2016
                                            	<i>End Date</i>
                                            </span>
                                        </p>
                                        <p>Estimated Time: <b>4 Hours</b></p>
                                        <p>Actual Time: <b>6 Hours</b></p>
                                        <div class="info-links col-sm-12 clearfix clearboth padding0">
                                        	<div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-users"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-paperclip"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-files-o"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="task-block">
                                    	<p class="">
                                        	<a class="link" href="task-details.html">Contact Management</a>
                                            <a class="pull-right task-actions">
                                            	<i class="fa fa-cog"></i>
                                            </a>
                                        </p>
                                        <label class="module-name">CRM</label>
                                        <p class="task-dates">
                                        	<span>21/04/2016
                                            	<i>Start Date</i>
                                            </span>
                                            <span>28/04/2016
                                            	<i>End Date</i>
                                            </span>
                                        </p>
                                        <p>Estimated Time: <b>4 Hours</b></p>
                                        <p>Actual Time: <b>6 Hours</b></p>
                                        <div class="info-links col-sm-12 clearfix clearboth padding0">
                                        	<div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-users"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-paperclip"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                            <div class="col-sm-4 padding0 text-center">
                                            	<a class="link mr5">
                                                	<i class="fa fa-files-o"></i>
                                                </a>
                                                <b>3</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                    <div id="vtab02" class="tab-pane padding10"></div>
                    
                    <div id="vtab03" class="tab-pane padding10"></div>
                </div>
            </div>
        </div>
        
        <!--SPRINT ADD POP-UP-->
        <div id="sprint-modal" class="modal-wrapper" style="display: none">
                    <div class="form-horizontal NewErrorStyle animate-fld-bg" method="POST" id="status-form">
                        <div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-btns"><a aria-hidden="true" data-dismiss="modal" href="#"><i class="glyphicon glyphicon-remove"></i></a></div>
                                    <h4 class="panel-title">Add Sprint</h4>
                                </div>
                                <div class="panel-body ">
                                    
                                        <div class="col-sm-12 clearfix clearboth">
                                            <div class="form-group margin0">
                                                <div class="input_container">
                                                   <input value="Sprint" name="sprintName" class="form-control" />
                                                </div>
                                                <label class="control-label">Name :</label>
                                            </div>
                                        </div>
                                         <div class="col-sm-12 clearfix clearboth">
                                            <div class="form-group margin0">
                                                <div class="input_container">
                                                   <input name="sprintStartDate" startDate="0" class="form-control tssDatepicker" />
                                                </div>
                                                <label class="control-label">Start Date :</label>
                                            </div>
                                        </div>
                                         <div class="col-sm-12 clearfix clearboth">
                                            <div class="form-group margin0">
                                                <div class="input_container">
                                                   <input name="sprintEndDate" startDate="0" class="form-control tssDatepicker" />
                                                </div>
                                                <label class="control-label">End Date :</label>
                                            </div>
                                        </div>
                                   		<div class="col-sm-12 clearfix clearboth">
                                        	<div class="input_container">
                                       		 <div class="input-append tss-attach tss-file-exists">
                                            <div class="uneditable-input tss-input">
                                                <i class="glyphicon glyphicon-file"></i>
                                                <span class="fileupload-preview"></span>
                                            </div>
                                            <span class="btn btn-default btn-file  lead-attachment">
                                                <span class="fileupload-new">Browse</span>
                                                <span class="fileupload-exists">Change</span>
                                                <input type="file" accept="image/*" name="" id="filePicker" class="form-control rval">
                                            </span>
                                            <a data-dismiss="fileupload" class="btn btn-default fileupload-exists" href="#" data-original-title="Cancel"><i class="glyphicon glyphicon-remove"></i></a>
                                        </div>
	                                        </div>
                                            <label>Upload Excel</label>
                                        </div>
                                    
                                </div>
                                <div class="panel-footer text-center">
                                    <button class="button-common panelbtn" id="addSprint">Save</button><!--div-submit="true"-->
                                    <button class="button-color" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
<link rel="stylesheet" type="text/css" href="../Content/CSS/bootstrap-fileupload.min.css">    
<script type="text/javascript" src="../Scripts/bootstrap-fileupload.min.js"></script>        
<script>
    $(window).on('load resize', function(){
		$('.tasks-list').width($('.tasks-col').length * 205);
		$('.vScroll').css('max-height',400)
			$('.vScroll').mCustomScrollbar({ theme: "dark", scrollbarPosition: 'inside', autoHideScrollbar: true, scrollButtons: { enable: true }, scrollInertia: 3, autoExpandScrollbar: false });
        $('.hScroll').mCustomScrollbar({
            axis: "x",
            theme: "dark",
            scrollButtons: {
                enable: true,
                scrollAmount: 100
            },
            scrollInertia: 10,
            scrollEasing:"easeInOut",
            autoExpandScrollbar: true
        });
    });
    function addSprint(e){
        var _sprintName = $(e).prev().val();
         
        if(_sprintName.length > 0){
            var $modal = TssLib.openModel({ width: 550 }, $('#sprint-modal').html());
            var _inputSprintName , _startDateVal, _endDateVal;
            $modal.find('[name="sprintName"]').val(_sprintName);
            $modal.find('#addSprint').on('click', function(){
                _startDateVal = $modal.find('[name="sprintStartDate"]').val();
                _endDateVal = $modal.find('[name="sprintEndDate"]').val();
                
                _sprintName = $modal.find('[name="sprintName"]').val();
                var _li = $('<li/>',{}),
                _a = $('<a/>',{href:'#'+_sprintName.trim().toLowerCase()}).appendTo(_li),
                _b = $('<b/>',{text:_sprintName}).appendTo(_a),
                _label = $('<label/>').appendTo(_a),
                _startDate = $('<span/>',{html:_startDateVal + ' <i class="">Start Date</i>'}).appendTo(_label),
                _endDate = $('<span/>',{html:_endDateVal + ' <i class="">End Date</i>'}).appendTo(_label),
                _daysLeft = $('<span/>',{html:'7 <i class="">Days Left</i>'}).appendTo(_label);
                
                
                $('#sprintsTabs').append(_li);
                TssLib.closeModal();
                $(e).prev().val('');
            });
            
            
        } else{
            TssLib.notify('Enter Sprint Name', 'warn', 5)
        }
    }
</script>