/****************************************
	TSS-TABLES Styles common-styles
****************************************/

body{font-family: 'Roboto', sans-serif;}
*{margin:0;padding:0;}
.table-wrapper {background:#fff;padding:10px;}
.table-wrapper table {background:#fff;border-spacing: 0; width: 100%;table-layout: fixed;}/**/
.tss-body-table tr{
  border-bottom: 1px solid #e8e6e6;
}
.tss-body-table tr td{
  padding:5px 10px;
}
.tss-head-table tr th {
  padding:8px 10px;
}
.tss-head-table tr{
  border-bottom: 2px solid #e8e6e6;
}
.table-wrapper .tss-head-table tr th {
  border-bottom: 2px solid #EAE8E8;
  font-size:14px;
  position:relative;
}
th[sort]::before {
  border-color: #cccccc transparent transparent;
  border-style: solid;
  border-width: 5px;
  content: "";
  position: absolute;
  right: 10px;
  top: 18px;
  width: 5px;
  z-index: 99;
}
th[sort="asc"].sorted::before{
	border-color: #8F8989 transparent transparent !important;
}
th[sort="desc"].sorted::after{
	border-color: transparent transparent #8F8989 !important;
}
th[sort]::after {
  border-color: transparent transparent #cccccc;
  border-style: solid;
  border-width: 5px;
  content: "";
  position: absolute;
  right: 10px;
  top: 5px;
  width: 5px;
  z-index: 99;
}
.table-wrapper .tss-body-table tr td {
	border-bottom: 1px solid #eae8e8;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table-wrapper .tss-body-table tr:hover td,.table-wrapper .tss-body-table tr:focus td{
  background-color:#EEF1FF;
}

/****************************************
	TSS-TABLES Styles(table-strip)
	    /*table strip style*/
/****************************************/
.table-wrapper.table-strip .tss-body-table tr:nth-child(2n+1) {
  background: #FBF8F8;
}

/****************************************
	TSS-TABLES Styles(table-border)
	    /*table border style*/
/****************************************/
.table-wrapper.table-strip.table-border .tss-body-table tr td {border: 1px solid #EAE8E8;}
.table-wrapper.table-strip.table-border .tss-head-table tr th {border: 1px solid #EAE8E8;}
.table-wrapper .tss-body-table tr td:last-child, .table-wrapper .tss-head-table tr th:last-child{border-right: 0px none !important;}
.table-wrapper .tss-body-table, .table-wrapper .tss-head-table {  border-right: 1px solid #EAE8E8;}
/****************************************
	TSS-TABLES Styles(default)
*****************************************/
.table-default table thead tr th {
  color: #059eb3;
  font-size: 14px;
  padding: 10px 10px;
  text-transform: uppercase;
}
.table-default table thead tr{border-bottom:1px solid #d5d5d5;}
.table-default table tbody tr td {
  color: #333;
  font-size: 14px;
  padding: 7px 10px;
}
.table-default table tbody tr{border-bottom:1px solid #e3e6ea;}
.table-default table tbody tr:hover td{background:#f4f5f7;}
.first-td-color tbody tr td:first-child{color:#059eb3;}
/******************pagination**********************/
.pagination-wrapper {
  clear: both;
  margin-top: 5px;
  padding: 3px;
  list-style:none;
  text-align:center;
}
.pagination-ul {
  display: inline-block;
}
.pagination-wrapper li{ display: inline;float:left;}
.pagination-wrapper .pagination-ul li a {
  border:1px solid #ccc;
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 30px;
  list-style: outside none none;
  margin-right: 2px;
  text-align: center;
  width: 30px;
}
.pagination-wrapper ul.pagination li a.active {
  background: #059EB3 !important;
  color: #fff;
  font-weight: bold;
}
.pagination-wrapper .pagination-ul li a:hover{text-decoration:none;background:#ccc;}
.pagination-ul .prev-btn, .nxt-btn, .last-btn, .first-btn {
  /*border:none !important;*/
  background: transparent;
}
.pagination > li > a > span i {line-height: inherit;}
